<div ng-controller="shadowCtrl">
<section class="snc-app-row">
	<div class="snc-app-column">
		<h1>Default</h1>
		<div class="sn-control is-url">
			<label class="sn-control--label" for="sn-input-0">URL</label>
			<div class="sn-control--field">
				<a class="sn-input is-url" href="http://wiki.servicenow.com/index.php?title=Main_Page#gsc.tab=0">http://wiki.servicenow.com/index.php?title=Main_Page#gsc.tab=0</a>
				<input class="sn-input sn-input__url" id="sn-input-0" name="ex0" type="url" value="http://wiki.servicenow.com/index.php?title=Main_Page#gsc.tab=0" />
				<div class="sn-control--controls">
					<button class="sn-btn is-control is-inactive icon-edit" aria-label="Edit URL"></button>
				</div>
			</div>
		</div>
		<div class="sn-control is-url">
			<label class="sn-control--label" for="sn-input-1">URL</label>
			<div class="sn-control--field">
				<input class="sn-input sn-input__url" id="sn-input-1" name="ex1" type="url" placeholder="&mdash;" />
				<div class="sn-control--controls">
					<button class="sn-btn is-control is-inactive icon-edit" aria-label="Edit URL"></button>
				</div>
			</div>
		</div>
	</div>
	<div class="snc-app-column">
		<h1>Default Hover</h1>
		<div class="sn-control is-url">
			<label class="sn-control--label" for="sn-input-0">URL</label>
			<div class="sn-control--field">
				<a class="sn-input is-url" href="http://wiki.servicenow.com/index.php?title=Main_Page#gsc.tab=0">http://wiki.servicenow.com/index.php?title=Main_Page#gsc.tab=0</a>
				<input class="sn-input sn-input__url" id="sn-input-0" name="ex0" type="url" value="http://wiki.servicenow.com/index.php?title=Main_Page#gsc.tab=0" />
				<div class="sn-control--controls">
					<button class="sn-btn is-control is-inactive icon-edit" aria-label="Edit URL"></button>
				</div>
			</div>
		</div>
		<div class="sn-control is-url">
			<label class="sn-control--label" for="sn-input-1">URL</label>
			<div class="sn-control--field">
				<a class="sn-input is-url" href="http://wiki.servicenow.com/index.php?title=Main_Page#gsc.tab=0">http://wiki.servicenow.com/index.php?title=Main_Page#gsc.tab=0</a>
				<input class="sn-input sn-input__url" id="sn-input-1" name="ex1" type="url" value="http://wiki.servicenow.com/index.php?title=Main_Page#gsc.tab=0" />
				<div class="sn-control--controls">
					<button class="sn-btn is-control icon-edit has-hover" aria-label="Edit URL"></button>
				</div>
			</div>
		</div>
		<div class="sn-control is-url">
			<label class="sn-control--label" for="sn-input-0">URL</label>
			<div class="sn-control--field">
				<input class="sn-input sn-input__url" id="sn-input-0" name="ex0" type="url" placeholder="&mdash;" />
				<div class="sn-control--controls">
					<button class="sn-btn is-control is-inactive icon-edit" aria-label="Edit URL"></button>
				</div>
			</div>
		</div>
		<div class="sn-control is-url">
			<label class="sn-control--label" for="sn-input-1">URL</label>
			<div class="sn-control--field">
				<input class="sn-input sn-input__url" id="sn-input-1" name="ex1" type="url" placeholder="&mdash;" />
				<div class="sn-control--controls">
					<button class="sn-btn is-control icon-edit has-hover" aria-label="Edit URL"></button>
				</div>
			</div>
		</div>
	</div>
	<div class="snc-app-column">
		<h1>Default Focus</h1>
		<div class="sn-control sn-control__url has-focus">
			<label class="sn-control--label" for="sn-input-0">URL</label>
			<div class="sn-control--field">
				<input class="sn-input sn-input__url" id="sn-input-0" name="ex0" type="url" value="l_Search_in_Content_Management" />
				<div class="sn-control--controls">
					<button class="sn-btn is-control icon-edit has-focus" aria-label="Edit URL"></button>
				</div>
			</div>
		</div>
		<div class="sn-control sn-control__url has-focus">
			<label class="sn-control--label" for="sn-input-1">URL</label>
			<div class="sn-control--field">
				<input class="sn-input sn-input__url" id="sn-input-1" name="ex1" type="url" placeholder="http://" />
				<div class="sn-control--controls">
					<button class="sn-btn is-control icon-edit has-focus" aria-label="Edit URL"></button>
				</div>
			</div>
		</div>
		<div class="sn-control sn-control__url has-focus">
			<label class="sn-control--label" for="sn-input-0">URL</label>
			<div class="sn-control--field">
				<input class="sn-input sn-input__url" id="sn-input-0" name="ex0" type="url" />
				<div class="sn-control--controls">
					<button class="sn-btn is-control icon-edit has-focus" aria-label="Edit URL"></button>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="snc-app-row">
	<div class="snc-app-column">
		<h1>Read-Only</h1>
		<div class="sn-control sn-control__url is-readonly">
			<label class="sn-control--label" for="sn-input-8">URL</label>
			<div class="sn-control--field">
				<a class="sn-input is-url" href="http://wiki.servicenow.com/index.php?title=Main_Page#gsc.tab=0">http://wiki.servicenow.com/index.php?title=Main_Page#gsc.tab=0</a>
				<input class="sn-input sn-input__url" id="sn-input-8" name="ex8" type="url" value="http://wiki.servicenow.com/index.php?title=Main_Page#gsc.tab=0" readonly />
			</div>
		</div>
	</div>
	<div class="snc-app-column"></div>
	<div class="snc-app-column">
		<h1>Read-Only Focus</h1>
		<div class="sn-control sn-control__url is-readonly has-focus">
			<label class="sn-control--label" for="sn-input-9">URL</label>
			<div class="sn-control--field">
				<a class="sn-input is-url" href="http://wiki.servicenow.com/index.php?title=Main_Page#gsc.tab=0">http://wiki.servicenow.com/index.php?title=Main_Page#gsc.tab=0</a>
				<input class="sn-input sn-input__url" id="sn-input-9" name="ex9" type="url" value="http://wiki.servicenow.com/index.php?title=Main_Page#gsc.tab=0" readonly/>
			</div>
		</div>
	</div>
</section>
<section class="snc-app-row">
	<div class="snc-app-column">
		<h1>Disabled</h1>
		<div class="sn-control sn-control__url is-disabled">
			<label class="sn-control--label" for="sn-input-10">URL</label>
			<div class="sn-control--field">
				<input class="sn-input sn-input__url" id="sn-input-10" name="ex10" type="url" placeholder="http://" disabled/>
			</div>
		</div>
		<div class="sn-control sn-control__url is-disabled">
			<label class="sn-control--label" for="sn-input-11">URL</label>
			<div class="sn-control--field">
				<input class="sn-input sn-input__url" id="sn-input-11" name="ex11" type="url" disabled/>
			</div>
		</div>
		<div class="sn-control sn-control__url is-disabled">
			<label class="sn-control--label" for="sn-input-11">URL</label>
			<div class="sn-control--field">
				<input class="sn-input sn-input__url" id="sn-input-11" name="ex11" type="url" value="http://wiki.servicenow.com/index.php?title=Main_Page#gsc.tab=0" disabled/>
				<div class="sn-control--controls">
					<button class="sn-btn is-control is-inactive icon-edit" aria-label="Edit URL"></button>
				</div>
			</div>
		</div>
	</div>
	<div class="snc-app-column"></div>
	<div class="snc-app-column">
		<h1>Disabled Focus</h1>
		<div class="sn-control sn-control__url is-disabled has-focus">
			<label class="sn-control--label" for="sn-input-12">URL</label>
			<div class="sn-control--field">
				<input class="sn-input sn-input__url" id="sn-input-12" name="ex12" type="url" placeholder="http://" disabled/>
			</div>
		</div>
		<div class="sn-control sn-control__url is-disabled has-focus">
			<label class="sn-control--label" for="sn-input-13">URL</label>
			<div class="sn-control--field">
				<input class="sn-input sn-input__url" id="sn-input-13" name="ex13" type="url" disabled/>
			</div>
		</div>
		<div class="sn-control sn-control__url is-disabled has-focus">
			<label class="sn-control--label" for="sn-input-13">URL</label>
			<div class="sn-control--field">
				<input class="sn-input sn-input__url" id="sn-input-13" name="ex13" type="url" value="http://wiki.servicenow.com/index.php?title=Main_Page#gsc.tab=0" disabled/>
				<div class="sn-control--controls">
					<button class="sn-btn is-control is-inactive icon-edit" aria-label="Edit URL"></button>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="snc-app-row">
	<div class="snc-app-column">
		<h1>Error</h1>
		<div class="sn-control sn-control__url has-error is-required">
			<label class="sn-control--label" for="sn-input-14">URL
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<input class="sn-input sn-input__url" id="sn-input-14" name="ex14" type="url" aria-describedby="sn-description-0" placeholder="http://" required />
			</div>
			<p class="sn-control--description" id="sn-description-0">URL is required</p>
		</div>
	</div>
	<div class="snc-app-column"></div>
	<div class="snc-app-column">
		<h1>Error Focus</h1>
		<div class="sn-control sn-control__url has-error is-required has-focus">
			<label class="sn-control--label" for="sn-input-15">URL
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<input class="sn-input sn-input__url" id="sn-input-15" name="ex15" type="url" aria-describedby="sn-description-1" placeholder="http://" required/>
			</div>
			<p class="sn-control--description" id="sn-description-1">URL is required</p>
		</div>
	</div>
</section>
<section class="snc-app-row">
	<div class="snc-app-column">
		<h1>Default (V2)</h1>
		<div class="sn-control is-url">
			<label class="sn-control--label" for="sn-input-0">URL</label>
			<div class="sn-control--field">
				<a class="sn-input is-url has-multiline" href="http://wiki.servicenow.com/index.php?title=Main_Page#gsc.tab=0">http://wiki.servicenow.com/index.php?title=Using_Global_Search_in_Content_Management</a>
				<input class="sn-input sn-input__url" id="sn-input-0" name="ex0" type="url" value="http://wiki.servicenow.com/index.php?title=Main_Page#gsc.tab=0" />
				<div class="sn-control--controls">
					<button class="sn-btn is-control is-inactive icon-edit" aria-label="Edit URL"></button>
				</div>
			</div>
		</div>
	</div>
	<div class="snc-app-column">
		<h1>Default (V2) Hover</h1>
		<div class="sn-control is-url">
			<label class="sn-control--label" for="sn-input-0">URL</label>
			<div class="sn-control--field">
				<a class="sn-input is-url has-multiline" href="http://wiki.servicenow.com/index.php?title=Main_Page#gsc.tab=0">http://wiki.servicenow.com/index.php?title=Using_Global_Search_in_Content_Management</a>
				<input class="sn-input sn-input__url" id="sn-input-0" name="ex0" type="url" value="http://wiki.servicenow.com/index.php?title=Main_Page#gsc.tab=0" />
				<div class="sn-control--controls">
					<button class="sn-btn is-control has-hover icon-edit" aria-label="Edit URL"></button>
				</div>
			</div>
		</div>
	</div>
	<div class="snc-app-column">
		<h1>Default (V2) Focus</h1>
		<div class="sn-control sn-control__url has-focus">
			<label class="sn-control--label" for="sn-input-0">URL</label>
			<div class="sn-control--field">
				<input class="sn-input sn-input__url" id="sn-input-0" name="ex0" type="url"  value="l_Search_in_Content_Management" />
				<div class="sn-control--controls">
					<button class="sn-btn is-control has-focus icon-edit" aria-label="Edit URL"></button>
				</div>
			</div>
		</div>
	</div>
</section>
</div>