<div ng-controller="shadowCtrl">
<section class="snc-app-row">
	<div class="snc-app-column">
		<h1>Default</h1>
		<div class="sn-control">
			<div class="sn-control--select">
				<input class="sn-control--select--native" id="sn-checkbox-default-1" type="checkbox" name="ex0" value="caller-visible">
				<div class="sn-checkbox"></div>
				<label class="sn-control--select--label" for="sn-checkbox-default-1">Caller Visible</label>
			</div>
		</div>
		<fieldset class="sn-control is-fieldset">
			<legend class="sn-control--label">Options</legend>
			<div class="sn-control--select">
				<input class="sn-control--select--native" id="sn-checkbox-default-2" type="checkbox" name="ex1" value="monitor">
				<div class="sn-checkbox"></div>
				<label class="sn-control--select--label" for="sn-checkbox-default-2">Monitor</label>
			</div>
			<div class="sn-control--select">
				<input class="sn-control--select--native" id="sn-checkbox-default-3" type="checkbox" name="ex1" value="desktop">
				<div class="sn-checkbox"></div>
				<label class="sn-control--select--label" for="sn-checkbox-default-3">Desktop</label>
			</div>
			<div class="sn-control--select">
				<input class="sn-control--select--native" id="sn-checkbox-default-4" type="checkbox" name="ex1" value="laptop">
				<div class="sn-checkbox"></div>
				<label class="sn-control--select--label" for="sn-checkbox-default-4">Laptop</label>
			</div>
			<div class="sn-control--select">
				<input class="sn-control--select--native" id="sn-checkbox-default-5" type="checkbox" name="ex1" value="mouse">
				<div class="sn-checkbox"></div>
				<label class="sn-control--select--label" for="sn-checkbox-default-5">Mouse</label>
			</div>
		</fieldset>
	</div>
	<div class="snc-app-column">
		<h1>Hover/Focus</h1>
		<div class="sn-control">
			<div class="sn-control--select has-hover">
				<input class="sn-control--select--native" id="sn-checkbox-default-1" type="checkbox" name="ex0" value="caller-visible">
				<div class="sn-checkbox"></div>
				<label class="sn-control--select--label" for="sn-checkbox-default-1">Caller Visible</label>
			</div>
		</div>
		<fieldset class="sn-control is-fieldset">
			<legend class="sn-control--label">Options</legend>
			<div class="sn-control--select">
				<input class="sn-control--select--native" id="sn-checkbox-default-2" type="checkbox" name="ex1" value="monitor">
				<div class="sn-checkbox"></div>
				<label class="sn-control--select--label" for="sn-checkbox-default-2">Monitor</label>
			</div>
			<div class="sn-control--select has-focus">
				<input class="sn-control--select--native" id="sn-checkbox-default-3" type="checkbox" name="ex1" value="desktop">
				<div class="sn-checkbox"></div>
				<label class="sn-control--select--label" for="sn-checkbox-default-3">Desktop</label>
			</div>
			<div class="sn-control--select">
				<input class="sn-control--select--native" id="sn-checkbox-default-4" type="checkbox" name="ex1" value="laptop">
				<div class="sn-checkbox"></div>
				<label class="sn-control--select--label" for="sn-checkbox-default-4">Laptop</label>
			</div>
			<div class="sn-control--select">
				<input class="sn-control--select--native" id="sn-checkbox-default-5" type="checkbox" name="ex1" value="mouse">
				<div class="sn-checkbox"></div>
				<label class="sn-control--select--label" for="sn-checkbox-default-5">Mouse</label>
			</div>
		</fieldset>
	</div>
</section>
<section class="snc-app-row">
	<div class="snc-app-column">
		<h1>Active/Selected</h1>
		<div class="sn-control">
			<div class="sn-control--select is-selected">
				<input class="sn-control--select--native" id="sn-checkbox-default-1" type="checkbox" name="ex0" value="caller-visible">
				<div class="sn-checkbox"></div>
				<label class="sn-control--select--label" for="sn-checkbox-default-1">Caller Visible</label>
			</div>
		</div>
		<fieldset class="sn-control is-fieldset">
			<legend class="sn-control--label">Options</legend>
			<div class="sn-control--select">
				<input class="sn-control--select--native" id="sn-checkbox-default-2" type="checkbox" name="ex1" value="monitor">
				<div class="sn-checkbox"></div>
				<label class="sn-control--select--label" for="sn-checkbox-default-2">Monitor</label>
			</div>
			<div class="sn-control--select is-selected">
				<input class="sn-control--select--native" id="sn-checkbox-default-3" type="checkbox" name="ex1" value="desktop">
				<div class="sn-checkbox"></div>
				<label class="sn-control--select--label" for="sn-checkbox-default-3">Desktop</label>
			</div>
			<div class="sn-control--select">
				<input class="sn-control--select--native" id="sn-checkbox-default-4" type="checkbox" name="ex1" value="laptop">
				<div class="sn-checkbox"></div>
				<label class="sn-control--select--label" for="sn-checkbox-default-4">Laptop</label>
			</div>
			<div class="sn-control--select">
				<input class="sn-control--select--native" id="sn-checkbox-default-5" type="checkbox" name="ex1" value="mouse">
				<div class="sn-checkbox"></div>
				<label class="sn-control--select--label" for="sn-checkbox-default-5">Mouse</label>
			</div>
		</fieldset>
	</div>
	<div class="snc-app-column">
		<h1>Disabled/Read-Only</h1>
		<div class="sn-control is-disabled">
			<div class="sn-control--select is-selected">
				<input class="sn-control--select--native" id="sn-checkbox-default-1" type="checkbox" name="ex0" value="caller-visible">
				<div class="sn-checkbox"></div>
				<label class="sn-control--select--label" for="sn-checkbox-default-1">Caller Visible</label>
			</div>
		</div>
		<fieldset class="sn-control is-fieldset is-disabled">
			<legend class="sn-control--label">Options</legend>
			<div class="sn-control--select">
				<input class="sn-control--select--native" id="sn-checkbox-default-2" type="checkbox" name="ex1" value="monitor">
				<div class="sn-checkbox"></div>
				<label class="sn-control--select--label" for="sn-checkbox-default-2">Monitor</label>
			</div>
			<div class="sn-control--select is-selected">
				<input class="sn-control--select--native" id="sn-checkbox-default-3" type="checkbox" name="ex1" value="desktop">
				<div class="sn-checkbox"></div>
				<label class="sn-control--select--label" for="sn-checkbox-default-3">Desktop</label>
			</div>
			<div class="sn-control--select">
				<input class="sn-control--select--native" id="sn-checkbox-default-4" type="checkbox" name="ex1" value="laptop">
				<div class="sn-checkbox"></div>
				<label class="sn-control--select--label" for="sn-checkbox-default-4">Laptop</label>
			</div>
			<div class="sn-control--select">
				<input class="sn-control--select--native" id="sn-checkbox-default-5" type="checkbox" name="ex1" value="mouse">
				<div class="sn-checkbox"></div>
				<label class="sn-control--select--label" for="sn-checkbox-default-5">Mouse</label>
			</div>
		</fieldset>
	</div>
</section>
</div>