// Variables, Mixins, Functions
@import "../_base/core/core";

// Modifiers
$has-radio: true;

// Icons and Normalize
@import "../_base/default/default";

// Shared Control
@import "../_base/shared/control";

#{$sn-radio} {
	@include sizing($sizing-md);
	align-items: center;
	background-color: transparent;
	border: b($color-lighter);
	border-radius: 50%;
	display: inline-flex;
	flex: 0 0 auto;
	justify-content: center;
	position: relative;

	&::after {
		@include sizing($sizing-sm);
		content: "";
		background: $color-blue;
		border-radius: 50%;
		transform: scale(0);
		transition: trans(transform, "link");
	}

	#{$sn-control}--select.has-hover &,
	#{$sn-control}--select:hover &,
	#{$sn-control}--select.has-focus &,
	#{$sn-control}--select:focus & {
		background-color: $color-blue-light;
		border-color: $color-blue;
	}

	#{$sn-control}--select.is-selected &,
	#{$sn-control}--select--native:checked + &,
	#{$sn-control}.is-disabled #{$sn-control}--select.is-selected & {
		border-color: $color-blue;

		&::after {
			transform: scale(1);
		}

		+ #{$sn-control}--select--label {
			color: $color-darkest;
		}
	}

	#{$sn-control}.is-disabled & {
		background-color: transparent;
		border-color: $color-lighter;
	}
}
