<!doctype html>
<html lang="en" ng-app="sncApp" ng-controller="mainCtrl" dir="{{ direction }}" ng-class="{'is-compact' : compactMode}">
<head>
	<base href="/">

	<meta charset="utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width, maximum-scale=1.0" />
	<meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />

	<title>ServiceNow Components</title>

	<!-- SNC Default -->
	<link href="snc/css/base.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="snc-column">
		<button class="snc-toggle" ng-click="toggleDir($event)">Toggle Direction</button>
		<button class="snc-toggle" ng-click="toggleCompact($event)">Toggle Compact</button>
		<ul class="snc-nav">
			<li><a href="#!/input">Input</a></li>
			<li><a href="#!/number">Number</a></li>
			<li><a href="#!/select">Select</a></li>
			<li><a href="#!/select2">Select2</a></li>
			<li><a href="#!/reference">Reference</a></li>
			<li><a href="#!/textarea">Textarea</a></li>
			<li><a href="#!/checkbox">Checkbox</a></li>
			<li><a href="#!/radio">Radio</a></li>
			<li><a href="#!/password">Password</a></li>
			<li><a href="#!/phone">Phone</a></li>
			<li><a href="#!/email">Email</a></li>
			<li><a href="#!/url">URL</a></li>
		</ul>
	</div>
	<div class="snc-app snc-column" ng-view></div>

	<!-- Bower -->
	<script src="snc/js/bower/jquery/dist/jquery.js"></script>
	<script src="snc/js/bower/angular/angular.js"></script>
	<script src="snc/js/bower/angular-route/angular-route.js"></script>

	<!-- SNC Compiled -->
	<script src="snc/js/snc-library.js"></script>
</body>
</html>
