<div ng-controller="shadowCtrl">
<section class="snc-app-row">
	<div class="snc-app-column">
		<h1>Default</h1>
		<div class="sn-control is-viewable">
			<label class="sn-control--label" for="sn-input-0">View State, Value Entered</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-0" name="ex0" type="tel" value="+185804943636" />
			</div>
		</div>
		<div class="sn-control">
			<label class="sn-control--label" for="sn-input-1">No Value Entered</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-1" name="ex1" type="tel" placeholder="&mdash;" />
			</div>
		</div>
		<div class="sn-control">
			<label class="sn-control--label" for="sn-input-2">No Value Entered, No Placeholder</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-2" name="ex2" type="tel" />
			</div>
		</div>
		<div class="sn-control">
			<label class="sn-control--label" for="sn-input-3">
				Value Entered
			</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-3" name="ex3" type="tel" value="+185804943636" />
			</div>
		</div>
	</div>
	<div class="snc-app-column">
		<h1>Default Focus</h1>
		<div class="sn-control view-state has-focus">
			<label class="sn-control--label" for="sn-input-4">Phone Number</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-4" name="ex4" type="tel" value="+185804943636" />
			</div>
		</div>
		<div class="sn-control has-focus">
			<label class="sn-control--label" for="sn-input-5">Phone Number</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-5" name="ex5" type="tel" placeholder="&mdash;" />
			</div>
		</div>
		<div class="sn-control has-focus">
			<label class="sn-control--label" for="sn-input-6">Phone Number</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-6" name="ex6" type="tel" />
			</div>
		</div>
		<div class="sn-control has-focus is-required">
			<label class="sn-control--label" for="sn-input-7">Phone Number</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-7" name="ex7" type="tel" value="+185804943636" />
			</div>
		</div>
	</div>
</section>
<section class="snc-app-row">
	<div class="snc-app-column">
		<h1>Read-Only</h1>
		<div class="sn-control is-readonly">
			<label class="sn-control--label" for="sn-input-8">Phone Number</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-8" name="ex8" type="tel" value="+185804943636" readonly />
			</div>
		</div>
	</div>
	<div class="snc-app-column">
		<h1>Read-Only Focus</h1>
		<div class="sn-control is-readonly has-focus">
			<label class="sn-control--label" for="sn-input-9">Phone Number</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-9" name="ex9" type="tel" value="+185804943636" readonly/>
			</div>
		</div>
	</div>
</section>
<section class="snc-app-row">
	<div class="snc-app-column">
		<h1>Disabled</h1>
		<div class="sn-control is-disabled">
			<label class="sn-control--label" for="sn-input-10">Phone Number</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-10" name="ex10" type="tel" disabled/>
			</div>
		</div>
		<div class="sn-control is-disabled">
			<label class="sn-control--label" for="sn-input-11">Phone Number</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-11" name="ex11" type="tel" value="+185804943636" disabled/>
			</div>
		</div>
	</div>
	<div class="snc-app-column">
		<h1>Disabled Focus</h1>
		<div class="sn-control is-disabled has-focus">
			<label class="sn-control--label" for="sn-input-12">Phone Number</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-12" name="ex12" type="tel" disabled/>
			</div>
		</div>
		<div class="sn-control is-disabled has-focus">
			<label class="sn-control--label" for="sn-input-13">Phone Number</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-13" name="ex13" type="tel" value="+185804943636" disabled/>
			</div>
		</div>
	</div>
</section>
<section class="snc-app-row">
	<div class="snc-app-column">
		<h1>Error</h1>
		<div class="sn-control has-error is-required">
			<label class="sn-control--label" for="sn-input-14">Phone Number
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-14" name="ex14" type="tel" aria-describedby="sn-description-0" required />
			</div>
			<p class="sn-control--description" id="sn-description-0">Phone Number is required</p>
		</div>
	</div>
	<div class="snc-app-column">
		<h1>Error Focus</h1>
		<div class="sn-control has-error is-required has-focus">
			<label class="sn-control--label" for="sn-input-15">Phone Number
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-15" name="ex15" type="tel" aria-describedby="sn-description-1" required/>
			</div>
			<p class="sn-control--description" id="sn-description-1">Phone Number is required</p>
		</div>
	</div>
</section>
</div>