<div ng-controller="shadowCtrl">
<section class="snc-app-row">
	<div class="snc-app-column">
		<h1>Default</h1>
		<fieldset class="sn-control is-fieldset">
			<legend class="sn-control--label">Options</legend>
			<div class="sn-control--select">
				<input class="sn-control--select--native" id="sn-radio-default-1" type="radio" name="ex2" value="desktop">
				<div class="sn-radio"></div>
				<label class="sn-control--select--label" for="sn-radio-default-1">Desktop</label>
			</div>
			<div class="sn-control--select">
				<input class="sn-control--select--native" id="sn-radio-default-2" type="radio" name="ex2" value="laptop">
				<div class="sn-radio"></div>
				<label class="sn-control--select--label" for="sn-radio-default-2">Laptop</label>
			</div>
			<div class="sn-control--select">
				<input class="sn-control--select--native" id="sn-radio-default-3" type="radio" name="ex2" value="tablet">
				<div class="sn-radio"></div>
				<label class="sn-control--select--label" for="sn-radio-default-3">Tablet</label>
			</div>
			<div class="sn-control--select">
				<input class="sn-control--select--native" id="sn-radio-default-4" type="radio" name="ex2" value="phone">
				<div class="sn-radio"></div>
				<label class="sn-control--select--label" for="sn-radio-default-4">Phone</label>
			</div>
		</fieldset>
	</div>
	<div class="snc-app-column">
		<h1>Hover/Focus</h1>
		<fieldset class="sn-control is-fieldset">
			<legend class="sn-control--label">Options</legend>
			<div class="sn-control--select">
				<input class="sn-control--select--native" id="sn-radio-default-1" type="radio" name="ex2" value="desktop">
				<div class="sn-radio"></div>
				<label class="sn-control--select--label" for="sn-radio-default-1">Desktop</label>
			</div>
			<div class="sn-control--select has-focus">
				<input class="sn-control--select--native" id="sn-radio-default-2" type="radio" name="ex2" value="laptop">
				<div class="sn-radio"></div>
				<label class="sn-control--select--label" for="sn-radio-default-2">Laptop</label>
			</div>
			<div class="sn-control--select">
				<input class="sn-control--select--native" id="sn-radio-default-3" type="radio" name="ex2" value="tablet">
				<div class="sn-radio"></div>
				<label class="sn-control--select--label" for="sn-radio-default-3">Tablet</label>
			</div>
			<div class="sn-control--select">
				<input class="sn-control--select--native" id="sn-radio-default-4" type="radio" name="ex2" value="phone">
				<div class="sn-radio"></div>
				<label class="sn-control--select--label" for="sn-radio-default-4">Phone</label>
			</div>
		</fieldset>
	</div>
</section>
<section class="snc-app-row">
	<div class="snc-app-column">
		<h1>Active/Selected</h1>
		<fieldset class="sn-control is-fieldset">
			<legend class="sn-control--label">Options</legend>
			<div class="sn-control--select">
				<input class="sn-control--select--native" id="sn-radio-default-1" type="radio" name="ex2" value="desktop">
				<div class="sn-radio"></div>
				<label class="sn-control--select--label" for="sn-radio-default-1">Desktop</label>
			</div>
			<div class="sn-control--select is-selected">
				<input class="sn-control--select--native" id="sn-radio-default-2" type="radio" name="ex2" value="laptop">
				<div class="sn-radio"></div>
				<label class="sn-control--select--label" for="sn-radio-default-2">Laptop</label>
			</div>
			<div class="sn-control--select">
				<input class="sn-control--select--native" id="sn-radio-default-3" type="radio" name="ex2" value="tablet">
				<div class="sn-radio"></div>
				<label class="sn-control--select--label" for="sn-radio-default-3">Tablet</label>
			</div>
			<div class="sn-control--select">
				<input class="sn-control--select--native" id="sn-radio-default-4" type="radio" name="ex2" value="phone">
				<div class="sn-radio"></div>
				<label class="sn-control--select--label" for="sn-radio-default-4">Phone</label>
			</div>
		</fieldset>
	</div>
	<div class="snc-app-column">
		<h1>Disabled/Read-Only</h1>
		<fieldset class="sn-control is-fieldset is-disabled">
			<legend class="sn-control--label">Options</legend>
			<div class="sn-control--select">
				<input class="sn-control--select--native" id="sn-radio-default-1" type="radio" name="ex2" value="desktop">
				<div class="sn-radio"></div>
				<label class="sn-control--select--label" for="sn-radio-default-1">Desktop</label>
			</div>
			<div class="sn-control--select is-selected">
				<input class="sn-control--select--native" id="sn-radio-default-2" type="radio" name="ex2" value="laptop">
				<div class="sn-radio"></div>
				<label class="sn-control--select--label" for="sn-radio-default-2">Laptop</label>
			</div>
			<div class="sn-control--select">
				<input class="sn-control--select--native" id="sn-radio-default-3" type="radio" name="ex2" value="tablet">
				<div class="sn-radio"></div>
				<label class="sn-control--select--label" for="sn-radio-default-3">Tablet</label>
			</div>
			<div class="sn-control--select">
				<input class="sn-control--select--native" id="sn-radio-default-4" type="radio" name="ex2" value="phone">
				<div class="sn-radio"></div>
				<label class="sn-control--select--label" for="sn-radio-default-4">Phone</label>
			</div>
		</fieldset>
	</div>
</section>
</div>