///
/// Outputs readable text color(white or black) based on the saturation of the background
/// @group helpers
/// @param {string} $color
/// @example scss
/// .item {
///   $bg-color: red;
///   background-color: $bg-color;
///   color: set-text-color($bg-color);
/// }
/// @link http://thesassway.com/intermediate/dynamically-change-text-color-based-on-its-background-with-sass Dynamically Change Text Color Based On Its Background With Sass by Sebastian Ekström
///

@function set-text-color($color) {
	@if (lightness($color) > 50) {
		@return $color-black;
	} @else {
		@return $color-white;
	}
}