html {
	--color-black: #000000;
	--color-white: #ffffff;
	--color-blue: #39a0ff;
	--color-blue-light: #e0eefb;
	--color-red: #fd383a;
	--color-red-light: #ffdede;
	--color-darkest: #342a29;
	--color-darker: #666666;
	--color-dark: #717171;
	--color-lighter: #d8d8d8;
	--color-lightest: #efefef;

	--avatar-size-xs: 1.6rem;
	--avatar-size-sm: 2rem;
	--avatar-size-md: 3.2rem;
	--avatar-size-lg: 4rem;
	--avatar-size-xl: 5.2rem;

	--border-radius-sm: 0.2rem;
	--border-radius-md: 0.3rem;
	--border-radius-lg: 1rem;

	--line-height-sm: 1.2;
	--line-height-md: 1.4;
	--line-height-lg: 1.7;

	--spacing-pf: 0.1rem;
	--spacing-xs: 0.2rem;
	--spacing-sm: 0.6rem;
	--spacing-md: 0.8rem;
	--spacing-lg: 2.8rem;

	--font-size-body: 1.6rem;
	--font-size-button: 1.4rem;
	--font-size-label: 1.2rem;

	--sizing-base: 0.4rem;
	--sizing-sm: 0.8rem;
	--sizing-md: 1.6rem;
	--sizing-lg: 2rem;
}