h1 {
	font: 2.4rem "SourceSansPro", "Helvetica Neue", "Helvetica", Arial, sans-serif;
	margin: 1rem 0;
	padding: 0;
	width: 100%;
}

.snc-app {
	display: block;
	float: left;
	height: 100%;
	opacity: 0;
	padding: 2.8rem;
	transition: opacity 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
	width: 85%;
}

.snc-column {
	float: left;
	height: 100%;
	position: relative;
}

.snc-column:first-child {
	width: 15%;
}

.snc-nav {
	float: left;
	list-style: none;
	margin: 2rem 0 0;
	padding: 0;
	width: 100%;
}

.snc-nav li {
	float: left;
	width: 100%;
}

.snc-nav li a {
	float: left;
}

.snc-app.is-loaded {
	opacity: 1;
}

.snc-app-row {
	display: block;
	float: left;
	width: 100%;
}

.snc-app-column {
	float: left;
	min-height: 1rem;
	padding: 0 2.8rem;
	width: 33.3%;
}

[dir="rtl"] .snc-app-column {
	float: right;
}

.snc-toggle {
	float: left;
}

.snc-shadow-holder {
	margin-bottom: 1.6rem;
}

.snc-shadow-holder.margin {
	margin-bottom: 10rem;
}

.snc-shadow-holder.extra-margin {
	margin-bottom: 14rem;
}

.snc-shadow-holder.extra-extra-margin {
	margin-bottom: 22rem;
}

.snc-shadow-holder.extra-extra-extra-margin {
	margin-bottom: 26rem;
}
