$root-em: 10px !default;

$root-time-base: 300ms !default;
$root-time-fast: 100ms !default;
$root-time-slow: 500ms !default;

$avatar-size-xs: var(--avatar-size-xs) !default;
$avatar-size-sm: var(--avatar-size-sm) !default;
$avatar-size-md: var(--avatar-size-md) !default;
$avatar-size-lg: var(--avatar-size-lg) !default;
$avatar-size-xl: var(--avatar-size-xl) !default;

$border-radius-sm: var(--border-radius-sm) !default;
$border-radius-md: var(--border-radius-md) !default;
$border-radius-lg: var(--border-radius-lg) !default;

$line-height-sm: var(--line-height-sm) !default;
$line-height-md: var(--line-height-md) !default;
$line-height-lg: var(--line-height-lg) !default;

$spacing-pf: var(--spacing-pf) !default;
$spacing-xs: var(--spacing-xs) !default;
$spacing-sm: var(--spacing-sm) !default;
$spacing-md: var(--spacing-md) !default;
$spacing-lg: var(--spacing-lg) !default;

$sizing-base: var(--sizing-base) !default;
$sizing-sm:   var(--sizing-sm) !default;
$sizing-md:   var(--sizing-md) !default;
$sizing-lg:   var(--sizing-lg) !default;
