///
/// @group placeholders
/// @example scss
/// .item {
///   @include clearfix;
/// }
///

@mixin clearfix {
	&::before,
	&::after {
		content: " ";
		display: table;
	}

	&::after {
		clear: both;
	}
}