///
/// @group placeholders
/// @example scss
/// .item {
///   @include placeholder($color);
/// }
///

@mixin placeholder($color) {
	&::-webkit-input-placeholder {
		color: $color;
	}

	&::-moz-placeholder {
		olor: $color;
	}

	&:-ms-input-placeholder {
		olor: $color;
	}

	&:-moz-placeholder {
		olor: $color;
	}
}