<div ng-controller="shadowCtrl">
<section class="snc-app-row">
	<div class="snc-app-column">
		<h1>Default</h1>
		<div class="sn-control is-viewable">
			<label class="sn-control--label" for="sn-input-0">View State, Value Entered</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-0" name="ex0" type="text" value="PRB00040153" />
			</div>
		</div>
		<div class="sn-control is-viewable">
			<label class="sn-control--label" for="sn-input-1">View State, No Value Entered</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-1" name="ex1" type="text" placeholder="&mdash;" />
			</div>
		</div>
		<div class="sn-control">
			<label class="sn-control--label" for="sn-input-2">No Value Entered, Placeholder</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-2" name="ex2" type="text" placeholder="Enter Record Number" />
			</div>
		</div>
		<div class="sn-control">
			<label class="sn-control--label" for="sn-input-3">No Value Entered, No Placeholder</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-3" name="ex3" type="text" />
			</div>
		</div>
		<div class="sn-control">
			<label class="sn-control--label" for="sn-input-4">Value Entered</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-4" name="ex4" type="text" value="PRB00040153" />
			</div>
		</div>
		<div class="sn-control is-required">
			<label class="sn-control--label" for="sn-input-5">
				Value Entered, Required, Descriptor Text
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-5" aria-describedby="sn-description-0" name="ex5" type="text" value="PRB00040153" required />
			</div>
			<p class="sn-control--description" id="sn-description-0">Record Numbers can only contain letters and numbers</p>
		</div>
	</div>
	<div class="snc-app-column">
		<h1>Default Focus</h1>
		<div class="sn-control is-viewable has-focus">
			<label class="sn-control--label" for="sn-input-6">Record Number</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-6" name="ex6" type="text" value="PRB00040153" />
			</div>
		</div>
		<div class="sn-control is-viewable has-focus">
			<label class="sn-control--label" for="sn-input-7">Record Number</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-7" name="ex7" type="text" placeholder="&mdash;" />
			</div>
		</div>
		<div class="sn-control has-focus">
			<label class="sn-control--label" for="sn-input-8">Record Number</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-8" name="ex8" type="text" placeholder="Enter Record Number" />
			</div>
		</div>
		<div class="sn-control has-focus">
			<label class="sn-control--label" for="sn-input-9">Record Number</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-9" name="ex9" type="text" />
			</div>
		</div>
		<div class="sn-control has-focus">
			<label class="sn-control--label" for="sn-input-10">Record Number</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-10" name="ex10" type="text" value="PRB00040153" />
			</div>
		</div>
		<div class="sn-control is-required has-focus">
			<label class="sn-control--label" for="sn-input-11">
				Record Number
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-11" aria-describedby="sn-description-1" name="ex11" type="text" value="PRB00040153" required />
			</div>
			<p class="sn-control--description" id="sn-description-1">Record Numbers can only contain letters and numbers</p>
		</div>
	</div>
</section>
<section class="snc-app-row">
	<div class="snc-app-column">
		<h1>Read-Only</h1>
		<div class="sn-control is-readonly">
			<label class="sn-control--label" for="sn-input-12">Record Number</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-12" name="ex12" type="text" value="PRB0040150" readonly />
			</div>
		</div>
	</div>
	<div class="snc-app-column">
		<h1>Read-Only Focus</h1>
		<div class="sn-control is-readonly has-focus">
			<label class="sn-control--label" for="sn-input-13">Record Number</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-13" name="ex13" type="text" value="PRB0040150" readonly />
			</div>
		</div>
	</div>
</section>
<section class="snc-app-row">
	<div class="snc-app-column">
		<h1>Disabled</h1>
		<div class="sn-control is-disabled">
			<label class="sn-control--label" for="sn-input-14">Record Number</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-14" name="ex14" type="text" placeholder="Enter Record Number" disabled />
			</div>
		</div>
		<div class="sn-control is-disabled">
			<label class="sn-control--label" for="sn-input-15">Record Number</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-15" name="ex15" type="text" disabled />
			</div>
		</div>
		<div class="sn-control is-disabled">
			<label class="sn-control--label" for="sn-input-16">Record Number</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-16" name="ex16" type="text" value="PRB00040153" disabled />
			</div>
		</div>
	</div>
	<div class="snc-app-column">
		<h1>Disabled Focus</h1>
		<div class="sn-control is-disabled has-focus">
			<label class="sn-control--label" for="sn-input-17">Record Number</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-17" name="ex17" type="text" placeholder="Enter Record Number" disabled />
			</div>
		</div>
		<div class="sn-control is-disabled has-focus">
			<label class="sn-control--label" for="sn-input-18">Record Number</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-18" name="ex18" type="text" disabled />
			</div>
		</div>
		<div class="sn-control is-disabled has-focus">
			<label class="sn-control--label" for="sn-input-19">Record Number</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-19" name="ex19" type="text" value="PRB00040153" disabled />
			</div>
		</div>
	</div>
</section>
<section class="snc-app-row">
	<div class="snc-app-column">
		<h1>Error</h1>
		<div class="sn-control has-error is-required">
			<label class="sn-control--label" for="sn-input-20">
				Record Number
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-20" aria-describedby="sn-description-2" name="ex20" type="text" placeholder="Enter Record Number" required />
			</div>
			<p class="sn-control--description" id="sn-description-2">Record Number is required</p>
		</div>
		<div class="sn-control has-error is-required">
			<label class="sn-control--label" for="sn-input-21">
				Record Number
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-21" name="ex21" type="text" aria-describedby="sn-description-3" required />
			</div>
			<p class="sn-control--description" id="sn-description-3">Record Number is required</p>
		</div>
		<div class="sn-control has-error is-required">
			<label class="sn-control--label" for="sn-input-22">
				Record Number
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-22" aria-describedby="sn-description-4" name="ex22" type="text" value="INC<01>030" required />
			</div>
			<p class="sn-control--description" id="sn-description-4">Record Numbers cannot contain the following characters: & " ? < > # { } % - ? / \ .</p>
		</div>
	</div>
	<div class="snc-app-column">
		<h1>Error Focus</h1>
		<div class="sn-control has-error has-focus is-required">
			<label class="sn-control--label" for="sn-input-23">Record Number
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-23" name="ex23" type="text" aria-describedby="sn-description-5" placeholder="Enter Record Number" required />
			</div>
			<p class="sn-control--description" id="sn-description-5">Record Number is required</p>
		</div>
		<div class="sn-control has-error has-focus is-required">
			<label class="sn-control--label" for="sn-input-24">Record Number
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-24" aria-describedby="sn-description-6" name="ex24" type="text" required />
			</div>
			<p class="sn-control--description" id="sn-description-6">Record Number is required</p>
		</div>
		<div class="sn-control has-error has-focus is-required">
			<label class="sn-control--label" for="sn-input-25">Record Number
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-25" aria-describedby="sn-description-7" name="ex25" type="text" value="INC<01>030" required />
			</div>
			<p class="sn-control--description" id="sn-description-7">Record Numbers cannot contain the following characters: & " ? < > # { } % - ? / \ .</p>
		</div>
	</div>
</section>
<section class="snc-app-row">
	<div class="snc-app-column">
		<h1>Suggestion</h1>
		<div class="sn-control">
			<label class="sn-control--label" for="sn-input-26">Assignment Group</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-26" name="ex26" type="text" />
			</div>
		</div>
		<div class="sn-control has-hover">
			<label class="sn-control--label" for="sn-input-27">Assignment Group</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-27" name="ex27" type="text" />
			</div>
		</div>
		<div class="sn-control has-focus">
			<label class="sn-control--label" for="sn-input-28">Assignment Group</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-28" name="ex28" type="text" />
			</div>
		</div>
		<div id="margin" class="sn-control has-focus">
			<label class="sn-control--label" for="sn-input-29">Assignment Group</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-29" name="ex29" type="text" value="HR" />
			</div>
			<div class="sn-dropdown is-below">
				<ul  id="sn-owned-listbox-0" class="sn-dropdown--list">
					<li class="sn-dropdown--item">
						<span class="sn-dropdown--item--content"><span><span class="is-match">HR</span> Application Team</span></span>
					</li>
					<li class="sn-dropdown--item has-hover">
						<span class="sn-dropdown--item--content"><span><span class="is-match">HR</span> VIP Watchlist</span></span>
					</li>
				</ul>
			</div>
		</div>
		<div class="sn-control has-focus">
			<label class="sn-control--label" for="sn-input-30">Assignment Group</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-30" name="ex30" type="text" value="zzyyxx" />
			</div>
		</div>
	</div>
</section>
</div>