// Variables, Mixins, Functions
@import "../_base/core/core";

// Modifiers
$has-checkbox: true;

// Icons and Normalize
@import "../_base/default/default";

// Shared Control
@import "../_base/shared/control";

#{$sn-checkbox} {
	@include sizing($sizing-md);
	align-items: center;
	background-color: transparent;
	border: b($color-lighter);
	display: inline-flex;
	flex: 0 0 auto;
	justify-content: center;
	position: relative;

	&::after {
		@include sizing(1rem, 0.5rem);
		border-bottom: b($color-white);
		border-left: b($color-white);
		content: "";
		margin-top: -0.25rem;
		transform: rotate(-45deg) scale(0);
		transition: trans(all, "link");
	}

	#{$sn-control}--select.has-hover &,
	#{$sn-control}--select:hover &,
	#{$sn-control}--select.has-focus &,
	#{$sn-control}--select:focus & {
		background-color: $color-blue-light;
		border-color: $color-blue;
	}

	#{$sn-control}--select.is-selected &,
	#{$sn-control}--select--native:checked + &,
	#{$sn-control}.is-disabled #{$sn-control}--select.is-selected & {
		background-color: $color-blue;
		border-color: $color-blue;

		&::after {
			transform: rotate(-45deg) scale(1);
		}

		+ #{$sn-control}--select--label {
			color: $color-darkest;
		}
	}

	#{$sn-control}.is-disabled & {
		background-color: transparent;
		border-color: $color-lighter;
	}
}
