@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/SourceSansPro-Regular.eot");
  src: url("../fonts/SourceSansPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-Regular.otf.woff") format("woff"), url("../fonts/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansProLight";
  src: url("../fonts/SourceSansPro-Light.eot");
  src: url("../fonts/SourceSansPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-Light.otf.woff") format("woff"), url("../fonts/SourceSansPro-Light.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansProSemibold";
  src: url("../fonts/SourceSansPro-Semibold.eot");
  src: url("../fonts/SourceSansPro-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-Semibold.otf.woff") format("woff"), url("../fonts/SourceSansPro-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansProBold";
  src: url("../fonts/SourceSansPro-Bold.eot");
  src: url("../fonts/SourceSansPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-Bold.otf.woff") format("woff"), url("../fonts/SourceSansPro-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "retina_icons";
  src: url("../fonts/retina_icons_2017_7_31.eot");
  src: url("../fonts/retina_icons_2017_7_31.eot?#iefix") format("embedded-opentype"), url("../fonts/retina_icons_2017_7_31.woff") format("woff"), url("../fonts/retina_icons_2017_7_31.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-blue: #39a0ff;
  --color-blue-light: #e0eefb;
  --color-red: #fd383a;
  --color-red-light: #ffdede;
  --color-darkest: #342a29;
  --color-darker: #666666;
  --color-dark: #717171;
  --color-lighter: #d8d8d8;
  --color-lightest: #efefef;
  --avatar-size-xs: 1.6rem;
  --avatar-size-sm: 2rem;
  --avatar-size-md: 3.2rem;
  --avatar-size-lg: 4rem;
  --avatar-size-xl: 5.2rem;
  --border-radius-sm: 0.2rem;
  --border-radius-md: 0.3rem;
  --border-radius-lg: 1rem;
  --line-height-sm: 1.2;
  --line-height-md: 1.4;
  --line-height-lg: 1.7;
  --spacing-pf: 0.1rem;
  --spacing-xs: 0.2rem;
  --spacing-sm: 0.6rem;
  --spacing-md: 0.8rem;
  --spacing-lg: 2.8rem;
  --font-size-body: 1.6rem;
  --font-size-button: 1.4rem;
  --font-size-label: 1.2rem;
  --sizing-base: 0.4rem;
  --sizing-sm: 0.8rem;
  --sizing-md: 1.6rem;
  --sizing-lg: 2rem;
}

h1 {
  font: 2.4rem "SourceSansPro", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  margin: 1rem 0;
  padding: 0;
  width: 100%;
}

.snc-app {
  display: block;
  float: left;
  height: 100%;
  opacity: 0;
  padding: 2.8rem;
  transition: opacity 500ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 85%;
}

.snc-column {
  float: left;
  height: 100%;
  position: relative;
}

.snc-column:first-child {
  width: 15%;
}

.snc-nav {
  float: left;
  list-style: none;
  margin: 2rem 0 0;
  padding: 0;
  width: 100%;
}

.snc-nav li {
  float: left;
  width: 100%;
}

.snc-nav li a {
  float: left;
}

.snc-app.is-loaded {
  opacity: 1;
}

.snc-app-row {
  display: block;
  float: left;
  width: 100%;
}

.snc-app-column {
  float: left;
  min-height: 1rem;
  padding: 0 2.8rem;
  width: 33.3%;
}

[dir="rtl"] .snc-app-column {
  float: right;
}

.snc-toggle {
  float: left;
}

.snc-shadow-holder {
  margin-bottom: 1.6rem;
}

.snc-shadow-holder.margin {
  margin-bottom: 10rem;
}

.snc-shadow-holder.extra-margin {
  margin-bottom: 14rem;
}

.snc-shadow-holder.extra-extra-margin {
  margin-bottom: 22rem;
}

.snc-shadow-holder.extra-extra-extra-margin {
  margin-bottom: 26rem;
}
