// .sn-button
#{$sn-button} {
	@include clearoutline;
	@include sizing(auto, calc(#{$sizing-md} * 2));
	align-items: center;
	background-color: $color-white;
	border: b($color-lighter);
	border-radius: $border-radius-sm;
	color: $color-dark;
	cursor: pointer;
	display: inline-flex;
	font: f("button");
	justify-content: center;
	padding: 0 $spacing-md;
	transition: trans(background-color border box-shadow color opacity, "link");

	&.is-disabled {
		cursor: default;
		opacity: 0.5;
	}

	&.is-lg {
		height: calc(#{$sizing-lg} * 2);
		font-size: 1.6rem;
	}

	&.is-sm {
		height: calc(#{$sizing-base} * 6);
	}

	&.is-icon {
		@include sizing(calc(#{$sizing-lg} * 2), calc(#{$sizing-md} * 2));
	}

	@if $has-control {
		&.is-control {
			@include sizing($sizing-lg);
			background-color: transparent;
			border-color: transparent;
			color: $color-darkest;
			font: f("label");

			&.is-inactive.has-hover,
			&.is-inactive:hover,
			&.is-inactive.has-focus,
			&.is-inactive:focus,
			&.is-inactive.has-focus.has-hover,
			&.is-inactive.has-focus:hover,
			&.is-inactive:focus.has-hover,
			&.is-inactive:focus:hover {
				background-color: transparent;
				color: $color-darkest;
				cursor: default;
			}

			&.has-hover,
			&:hover {
				background-color: rgba(black, 0.08);
				border-color: transparent;
				box-shadow: none;
				color: $color-blue;
			}

			&.has-focus,
			&:focus,
			&.has-focus.has-hover,
			&.has-focus:hover,
			&:focus.has-hover,
			&:focus:hover {
				background-color: $color-blue;
				border-color: transparent;
				box-shadow: none;
				color: $color-white;
			}
		}
	}

	&.is-borderless {
		border-color: transparent;

		&:hover {
			background-color: $color-lightest;
			box-shadow: none;
		}
	}

	&.has-hover,
	&:hover {
		box-shadow: rgba(black, 0.48) 0 0.1rem 0.2rem 0;
	}

	&.has-focus,
	&:focus {
		border-color: $color-blue;
	}

	&.has-active,
	&:active {
		background-color: $color-blue-light;
		border-color: $color-blue;
		color: $color-blue;
	}
}
