// // .sn-control
#{$sn-control} {
	@include clearoutline;
	border: 0;
	display: block;
	margin: 0;
	padding: 0;
	position: relative;

	&.is-disabled {
		opacity: 0.5;
	}

	&.is-readonly::before {
		background-color: $color-lightest;
		opacity: 1;
		width: 100%;
	}

	&.is-readonly.is-readonly.has-focus::before,
	&.is-readonly:focus::before {
		background-color: $color-lightest;
	}

	&.has-focus::before,
	&:focus::before {
		background-color: $color-blue-light;
		opacity: 1;
		width: 100%;
	}

	&.has-error.has-focus::before,
	&.has-error:focus::before {
		background-color: $color-red-light;
	}

	&::before {
		@include absolute(top 0 left 0);
		@include sizing(0, 100%);
		background-color: $color-white;
		border-radius: $border-radius-sm $border-radius-sm 0 0;
		content: "";
		opacity: 0;
		transition: trans(color opacity width, "link");
	}

	// .sn-control--label
	&--label {
		@include ellipsis;
		align-items: center;
		color: $color-darker;
		display: flex;
		font: f("label");
		line-height: $line-height-md;
		padding: $spacing-sm $spacing-md 0;
		position: relative;

		#{$sn-control}.has-error & {
			color: $color-red;
		}

		@if $has-checkbox or $has-radio {
			#{$sn-control}.is-fieldset & {
				margin: 0 0 $spacing-sm;
				padding: 0;
			}
		}

		// .sn-control--label--required
		&--required {
			display: inline-block;
			font-size: 0.4rem;
			padding: 0 $spacing-sm;

			&::before {
				margin-top: calc(#{$spacing-xs} * -1);
			}
		}
	}

	// .sn-control--field
	&--field {
		color: $color-darkest;
		display: flex;
		font: f("body");
		position: relative;

		&::after {
			@include absolute(bottom 0 left 0);
			@include sizing(100%, 0.1rem);
			background-color: $color-lighter;
			content: "";
			overflow: hidden;
			transition: trans(background-color height, "link");
			visibility: visible;

			#{$sn-control}.is-url &,
			#{$sn-control}.is-viewable & {
				visibility: hidden;
				width: 0;
			}

			#{$sn-control}.is-viewable.has-hover &,
			#{$sn-control}.is-viewable:hover &,
			#{$sn-control}.is-viewable.has-focus &,
			#{$sn-control}.is-viewable:focus & {
				transition: trans(width, "link", $root-time-fast);
				visibility: visible;
				width: 100%;
			}

			#{$sn-control}.is-disabled.has-hover &,
			#{$sn-control}.is-disabled:hover &,
			#{$sn-control}.is-readonly.has-hover &,
			#{$sn-control}.is-readonly:hover & {
				background-color: $color-lighter;
			}

			#{$sn-control}.is-disabled.has-focus &,
			#{$sn-control}.is-disabled:focus &,
			#{$sn-control}.is-readonly.has-focus &,
			#{$sn-control}.is-readonly:focus &,
			#{$sn-control}.is-disabled:hover.has-focus &,
			#{$sn-control}.is-disabled:hover:focus &,
			#{$sn-control}.is-readonly:hover.has-focus &,
			#{$sn-control}.is-readonly:hover:focus &,
			#{$sn-control}.has-hover &,
			#{$sn-control}:hover &,
			#{$sn-control}.has-focus &,
			#{$sn-control}:focus & {
				background-color: $color-blue;
			}

			#{$sn-control}.has-focus &,
			#{$sn-control}:focus & {
				height: 0.2rem;
			}

			#{$sn-control}.has-error & {
				background-color: $color-red;
			}
		}
	}

	// .sn-control--controls
	&--controls {
		align-items: center;
		display: flex;
		flex: 0 0 auto;
		height: 100%;

		#{$sn-button} {
			margin-right: calc(#{$spacing-md} / 2);

			&:last-of-type {
				margin-right: $spacing-md;
			}
		}
	}

	// .sn-control--description
	&--description {
		background-color: $color-white;
		color: $color-darker;
		font: f("label");
		line-height: $line-height-md;
		margin: 0;
		padding: $spacing-sm $spacing-md 0;
		position: relative;

		#{$sn-control}.has-error & {
			color: $color-red;
		}
	}

	@if $has-checkbox or $has-radio {
		// .sn-control--select
		&--select {
			align-items: center;
			display: flex;
			margin-bottom: $spacing-md;
			position: relative;

			// .sn-control--select--native
			&--native {
				@include absolute(top 0 left 0);
				@include sizing(100%);
				margin: 0;
				padding: 0;
				cursor: inherit;
				opacity: 0;
				z-index: z("above");

				&:disabled {
					cursor: not-allowed;
				}
			}

			// .sn-control--select--label
			&--label {
				color: $color-darker;
				flex: 1 1 auto;
				font: f("body");
				line-height: 1;
				margin: 0;
				padding: 0 $spacing-md;

				#{$sn-control}--select.has-hover &,
				#{$sn-control}--select:hover &,
				#{$sn-control}--select.has-focus &,
				#{$sn-control}--select:focus & {
					color: $color-darkest;
				}

				#{$sn-control}.is-disabled & {
					color: $color-darker;
				}
			}
		}
	}
}
