// .sn-dropdown
#{$sn-dropdown} {
	$cell-height: calc(#{$sizing-lg} * 2);

	@include absolute(top -0.5rem left calc(#{$spacing-sm} * -1));
	background-color: $color-white;
	border: b($color-blue);
	border-radius: $border-radius-sm;
	box-shadow: rgba(black, 0.5) 0 0 $spacing-sm 0;
	list-style: none;
	margin: 0;
	padding: $cell-height 0 0;
	width: calc(100% + (#{$spacing-sm} * 2);
	z-index: z("dropdown");

	&.is-below {
		border-radius: 0;
		box-shadow: none;
		left: auto;
		margin-top: calc(#{$spacing-xs} * -1);
		padding: 0;
		top: auto;
		width: 100%;
	}

	// .sn-dropdown--header
	&--header {
		@include ellipsis;
		@include sizing(100%, $cell-height);
		align-items: center;
		background-color: $color-lightest;
		color: $color-darkest;
		display: flex;
		font: f("label");
		padding: 0 $spacing-md;
	}

	// .sn-dropdown--search
	&--search {
		@include clearoutline;
		@include placeholder($color-dark);
		@include sizing(100%, $cell-height);
		background-color: transparent;
		border: 0;
		cursor: text;
		font: f("body");
		padding: 0 $spacing-md 0 $cell-height;
		position: relative;

		[dir="rtl"] & {
			padding: 0 $cell-height 0 $spacing-md ;
		}

		// .sn-dropdown--search--container
		&--container {
			@include sizing(100%, $cell-height);
			background-color: $color-lightest;
			color: $color-darkest;
			position: relative;

			&:last-child {
				border-radius: 0 0 $border-radius-sm $border-radius-sm;
			}

			&::before {
				@include absolute(top 0 left 0);
				@include sizing($cell-height);
				align-items: center;
				display: flex;
				font-size: $sizing-md;
				justify-content: center;
				margin: $spacing-pf 0 0 -$spacing-pf;

				[dir="rtl"] & {
					left: auto;
					right: 0;
				}
			}
		}
	}

	// .sn-dropdown--list
	&--list {
		list-style: none;
		margin: 0;
		max-height: calc(#{$cell-height} * 5);
		overflow-x: 0;
		overflow-y: auto;
		padding: 0;
	}

	// .sn-dropdown--item
	&--item {
		align-items: center;
		background-color: $color-white;
		color: $color-darkest;
		cursor: pointer;
		display: flex;
		font: f("body");
		min-height: $cell-height;
		padding: 0;
		padding: 0 calc((#{$spacing-md} + #{$spacing-sm}) - #{$spacing-pf});

		&:last-of-type {
			border-radius: 0 0 $border-radius-sm $border-radius-sm;
		}

		&.is-stacked {
			align-items: initial;
			background-color: transparent;
			display: flex;
			flex: 1 1 auto;
			flex-direction: column;
			font: f("label");
			min-height: calc((#{$sizing-lg} / 2) + #{$sizing-base});

			.is-match {
				font: f("label", "semibold");
			}
		}

		&.is-selected {
			// background-color: lighten($color-blue-light, 3%);
			font: f("body", "semibold");
		}

		&.has-hover,
		&:hover {
			background-color: $color-blue-light;
		}

		#{$sn-dropdown}.is-below & {
			padding: 0 $spacing-md;
		}

		// .sn-dropdown--item--content
		&--content {
			display: inline-flex;
			flex: 1 1 auto;

			&.has-subtext {
				color: $color-darker;
				flex: 0 0 auto;
				font: f("label");
				justify-content: flex-end;
				padding: $spacing-pf 0 0 $spacing-md;
			}

			#{$sn-dropdown}--item.is-stacked & {
				&:first-child {
					align-items: flex-end;
				}

				&:only-child {
					align-items: center;
				}
			}

			+ #{$sn-dropdown}--item--content {
				color: $color-dark;
			}
		}

		.is-match {
			font: f("body", "semibold");
			text-decoration: underline;
		}

		#{$sn-avatar} {
			flex: 0 0 auto;
		}
	}

	#{$sn-control}.has-error & {
		border-color: $color-red;
	}

	#{$sn-control}--label + #{$sn-control}--field & {
		top: -1rem;
	}

	@if $has-select {
		+ #{$sn-select} {
			pointer-events: none;
			z-index: z("dropdown") + 1;
		}
	}
}
