<div ng-controller="shadowCtrl">
<section class="snc-app-row">
	<div class="snc-app-column">
		<h1>Default</h1>
		<div class="sn-control">
			<label class="sn-control--label" for="sn-input-0">No Value Entered, No Placeholder</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-0" name="ex0" type="email"/>
				<div class="sn-control--controls">
					<button class="sn-btn is-control icon-mail" aria-label="Send E-mail"></button>
				</div>
			</div>
		</div>
		<div class="sn-control">
			<label class="sn-control--label" for="sn-input-1">Value Entered</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-1" name="ex1" type="email" value="jerrod.bennett@example.com"/>
				<div class="sn-control--controls">
					<button class="sn-btn is-control icon-mail" aria-label="Send E-mail"></button>
				</div>
			</div>
		</div>
	</div>
	<div class="snc-app-column">
		<h1>Default Focus</h1>
		<div class="sn-control has-focus">
			<label class="sn-control--label" for="sn-input-4">E-mail</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-4" name="ex4" type="email" />
				<div class="sn-control--controls">
					<button class="sn-btn is-control icon-mail" aria-label="Send E-mail"></button>
				</div>
			</div>
		</div>
		<div class="sn-control has-focus">
			<label class="sn-control--label" for="sn-input-5">E-mail</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-5" name="ex5" type="email" value="jerrod.bennett@example.com" />
				<div class="sn-control--controls">
					<button class="sn-btn is-control icon-mail" aria-label="Send E-mail"></button>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="snc-app-row">
	<div class="snc-app-column">
		<h1>Read-Only</h1>
		<div class="sn-control is-readonly">
			<label class="sn-control--label" for="sn-input-9">E-mail</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-9" name="ex9" type="email" value="jerrod.bennett@example.com" readonly />
			</div>
		</div>
	</div>
	<div class="snc-app-column">
		<h1>Read-Only Focus</h1>
		<div class="sn-control is-readonly has-focus">
			<label class="sn-control--label" for="sn-input-11">E-mail</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-11" name="ex11" type="email" value="jerrod.bennett@example.com" readonly/>
			</div>
		</div>
	</div>
</section>
<section class="snc-app-row">
	<div class="snc-app-column">
		<h1>Disabled</h1>
		<div class="sn-control is-disabled">
			<label class="sn-control--label" for="sn-input-12">E-mail</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-12" name="ex12" type="email" disabled/>
				<div class="sn-control--controls">
					<button class="sn-btn is-control icon-mail" aria-label="Send E-mail"></button>
				</div>
			</div>
		</div>
		<div class="sn-control is-disabled">
			<label class="sn-control--label" for="sn-input-13">E-mail</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-13" name="ex13" type="email" value="jerrod.bennett@example.com" disabled/>
				<div class="sn-control--controls">
					<button class="sn-btn is-control icon-mail" aria-label="Send E-mail"></button>
				</div>
			</div>
		</div>
	</div>
	<div class="snc-app-column">
		<h1>Disabled Focus</h1>
		<div class="sn-control is-disabled has-focus">
			<label class="sn-control--label" for="sn-input-16">E-mail</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-16" name="ex16" type="email" disabled/>
				<div class="sn-control--controls">
					<button class="sn-btn is-control icon-mail" aria-label="Send E-mail"></button>
				</div>
			</div>
		</div>
		<div class="sn-control is-disabled has-focus">
			<label class="sn-control--label" for="sn-input-17">E-mail</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-17" name="ex17" type="email" value="jerrod.bennett@example.com" disabled/>
				<div class="sn-control--controls">
					<button class="sn-btn is-control icon-mail" aria-label="Send E-mail"></button>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="snc-app-row">
	<div class="snc-app-column">
		<h1>Error</h1>
		<div class="sn-control has-error is-required">
			<label class="sn-control--label" for="sn-input-18">E-mail
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-18" name="ex18" type="email" aria-describedby="sn-description-0" required />
			</div>
			<p class="sn-control--description" id="sn-description-0">E-mail address is required</p>
		</div>
		<div class="sn-control has-error is-required">
			<label class="sn-control--label" for="sn-input-19">E-mail
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-19" name="ex19" value="jerrod.bennett" type="email" aria-describedby="sn-description-1" required />
			</div>
			<p class="sn-control--description" id="sn-description-1">Invalid e-mail address, it must follow the format user@example.com</p>
		</div>
	</div>
	<div class="snc-app-column">
		<h1>Error Focus</h1>
		<div class="sn-control has-error is-required has-focus">
			<label class="sn-control--label" for="sn-input-22">E-mail
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-22" name="ex22" type="email" aria-describedby="sn-description-4" required/>
			</div>
			<p class="sn-control--description" id="sn-description-4">E-mail is required</p>
		</div>
		<div class="sn-control has-error is-required has-focus">
			<label class="sn-control--label" for="sn-input-23">E-mail
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-23" name="ex23" value="jerrod.bennett" type="email" aria-describedby="sn-description-5" required/>
			</div>
			<p class="sn-control--description" id="sn-description-5">Invalid e-mail address, it must follow the format user@example.com</p>
		</div>
	</div>
</section>
</div>