<div ng-controller="shadowCtrl">
<section class="snc-app-row">
	<div class="snc-app-column">
		<h1>Default</h1>
		<div class="sn-control ">
			<label class="sn-control--label" for="sn-input-0">No Value Entered, No Placeholder</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-0" name="ex0" type="password" />
			</div>
		</div>
		<div class="sn-control is-required">
			<label class="sn-control--label" for="sn-input-1">
				No Value Entered, No Placeholder, Required
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-1" name="ex1" type="password" required />
			</div>
		</div>
		<div class="sn-control">
			<label class="sn-control--label" for="sn-input-2">Value Entered</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-2" name="ex2" type="password" value="somepassword" />
			</div>
		</div>
		<div class="sn-control is-required">
			<label class="sn-control--label" for="sn-input-3">
				Value Entered, Required
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-3" name="ex3" type="password" value="somepassword" required/>
			</div>
		</div>
	</div>
	<div class="snc-app-column">
		<h1>Default Focus</h1>
		<div class="sn-control has-focus">
			<label class="sn-control--label" for="sn-input-4">Password</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-4" name="ex4" type="password" />
			</div>
		</div>
		<div class="sn-control has-focus is-required">
			<label class="sn-control--label" for="sn-input-5">Password
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-5" name="ex5" type="password" required />
			</div>
		</div>
		<div class="sn-control has-focus">
			<label class="sn-control--label" for="sn-input-6">Password</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-6" name="ex6" type="password" value="somepassword" />
			</div>
		</div>
		<div class="sn-control has-focus is-required">
			<label class="sn-control--label" for="sn-input-7">Password
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-7" name="ex7" type="password" value="somepassword" required />
			</div>
		</div>
	</div>
</section>
<section class="snc-app-row">
	<div class="snc-app-column">
		<h1>Read-Only</h1>
		<div class="sn-control is-readonly">
			<label class="sn-control--label" for="sn-input-8">Password</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-8" name="ex8" type="password" value="somepassword" readonly />
			</div>
		</div>
	</div>
	<div class="snc-app-column">
		<h1>Read-Only Focus</h1>
		<div class="sn-control is-readonly">
			<label class="sn-control--label" for="sn-input-9">Password</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-9" name="ex9" type="password" value="somepassword" readonly/>
			</div>
		</div>
	</div>
</section>
<section class="snc-app-row">
	<div class="snc-app-column">
		<h1>Disabled</h1>
		<div class="sn-control is-disabled">
			<label class="sn-control--label" for="sn-input-10">Password</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-10" name="ex10" type="password" disabled/>
			</div>
		</div>
		<div class="sn-control is-disabled">
			<label class="sn-control--label" for="sn-input-11">Password
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-11" name="ex11" type="password" value="somepassword" disabled/>
			</div>
		</div>
	</div>
	<div class="snc-app-column">
		<h1>Disabled Focus</h1>
		<div class="sn-control is-disabled has-focus">
			<label class="sn-control--label" for="sn-input-12">Password</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-12" name="ex12" type="password" disabled/>
			</div>
		</div>
		<div class="sn-control is-disabled has-focus">
			<label class="sn-control--label" for="sn-input-13">Password
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-13" name="ex13" type="password" value="somepassword" disabled/>
			</div>
		</div>
	</div>
</section>
<section class="snc-app-row">
	<div class="snc-app-column">
		<h1>Error</h1>
		<div class="sn-control has-error is-required">
			<label class="sn-control--label" for="sn-input-14">Password
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-14" name="ex14" type="password" aria-describedby="sn-description-0" required />
			</div>
			<p class="sn-control--description" id="sn-description-0">Password is required</p>
		</div>
		<div class="sn-control has-error is-required">
			<label class="sn-control--label" for="sn-input-15">Password
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-15" name="ex15" value="somepassword" type="password" aria-describedby="sn-description-1" required />
			</div>
			<p class="sn-control--description" id="sn-description-1">Password must have at least 8 characters including one uppercase charater, one lowercase character, and one number</p>
		</div>
	</div>
	<div class="snc-app-column">
		<h1>Error Focus</h1>
		<div class="sn-control has-error is-required has-focus">
			<label class="sn-control--label" for="sn-input-16">Password
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-16" name="ex16" type="password" aria-describedby="sn-description-2" required/>
			</div>
			<p class="sn-control--description" id="sn-description-2">Password is required</p>
		</div>
		<div class="sn-control has-error is-required has-focus">
			<label class="sn-control--label" for="sn-input-17">Password
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-17" name="ex17" value="somepassword" type="password" aria-describedby="sn-description-3" required/>
			</div>
			<p class="sn-control--description" id="sn-description-3">Password must have at least 8 characters including one uppercase charater, one lowercase character, and one number</p>
		</div>
	</div>
</section>
</div>