// .sn-avatar
#{$sn-avatar} {
	background-color: $color-blue-light;
	border-radius: 50%;
	color: $color-blue;
	display: flex;
	font: f("body");
	position: relative;

	&.is-xs {
		@include sizing($avatar-size-xs);
	}

	&.is-sm {
		@include sizing($avatar-size-sm);
	}

	&.is-md {
		@include sizing($avatar-size-md);
	}

	&.is-lg {
		@include sizing($avatar-size-lg);
	}

	&.is-xl {
		@include sizing($avatar-size-xl);
	}
}
