// .sn-input
#{$sn-input} {
	@include clearoutline;
	@include placeholder($color-dark);
	@include sizing(100%, auto);
	background-color: transparent;
	border: 0;
	color: $color-darkest;
	cursor: text;
	font: f("body");
	line-height: $line-height-md;
	margin: -0.1rem 0 0.5rem; // ¯\_(ツ)_/¯
	padding: 0 $spacing-md;
	position: relative;

	@if $has-url {
		&.is-url {
			@include ellipsis;
			color: $color-blue;
			cursor: pointer;
			text-decoration: none;

			&:hover{
				text-decoration: underline;
			}

			&.has-multiline {
				overflow: visible;
				white-space: normal;
				text-overflow: clip;
			}

			+ #{$sn-input} {
				display: none;
			}
		}
	}

	#{$sn-control}.is-disabled & {
		cursor: not-allowed;
	}

	@if $has-number {
		#{$sn-control}.is-reversed & {
			text-align: right;

			[dir="rtl"] & {
				text-align: left;
			}
		}
	}
}
