#{$sn-select} {
	@include sizing(100%, calc(#{$sizing-md} * 2));
	align-items: center;
	appearance: none;
	background-color: transparent;
	background-image: linear-gradient(45deg, transparent 50%, $color-darkest 50%), linear-gradient(135deg, $color-darkest 50%, transparent 50%);
	background-position: calc(100% - #{1.2rem + 0.5}) 50%, calc(100% - 1rem) 50%;
	background-repeat: no-repeat;
	background-size: 0.8rem 0.5rem, 0.8rem 0.5rem;
	border: 0;
	color: $color-darkest;
	cursor: default;
	display: flex;
	font: f("body");
	line-height: $line-height-md;
	margin: 0;
	padding: 0 $spacing-md;
	position: relative;

	&:focus {
		outline: none;
	}

	&.has-placeholder,
	&:disabled,
	&:invalid {
		color: rgba(black, 0.5);
	}

	[dir="rtl"] & {
		background-position: 1rem 50%, (1.2rem + 0.5) 50%;
	}

	#{$sn-control}.is-disabled & {
		cursor: not-allowed;
	}

	#{$sn-avatar} {
		flex: 0 0 auto;
		margin-right: $spacing-sm;

		[dir="rtl"] & {
			margin-left: $spacing-sm;
			margin-right: 0;
		}

		+ span {
			flex: 1 1 auto;
		}
	}

	#{$sn-control}--controls {
		margin-right: calc(#{$spacing-md} * 2);

		[dir="rtl"] & {
			margin-left: calc(#{$spacing-md} * 2);
			margin-right: 0;
		}
	}

	#{$sn-control}--label + #{$sn-control}--field & {
		margin-top: -0.5rem; // ¯\_(ツ)_/¯
	}
}
