// Root Class Names
$sn-avatar   : ".sn-avatar";
$sn-button   : ".sn-btn";
$sn-checkbox : ".sn-checkbox";
$sn-control  : ".sn-control";
$sn-dropdown : ".sn-dropdown";
$sn-input    : ".sn-input";
$sn-radio    : ".sn-radio";
$sn-select   : ".sn-select";
$sn-textarea : ".sn-textarea";

// Component Styles
$has-avatar:    false;
$has-button:    false;
$has-checkbox:  false;
$has-control:   false;
$has-dropdown:  false;
$has-email:     false;
$has-input:     false;
$has-number:    false;
$has-password:  false;
$has-phone:     false;
$has-radio:     false;
$has-reference: false;
$has-select:    false;
$has-select2:   false;
$has-textarea:  false;
$has-url:       false;
