$color-white:      var(--color-white) !default;
$color-blue:       var(--color-blue) !default;
$color-blue-light: var(--color-blue-light) !default;
$color-red:        var(--color-red) !default;
$color-red-light:  var(--color-red-light) !default;
$color-darkest:    var(--color-darkest) !default;
$color-darker:     var(--color-darker) !default;
$color-dark   :    var(--color-dark) !default;
$color-lighter:    var(--color-lighter) !default;
$color-lightest:   var(--color-lightest) !default;
