<div ng-controller="shadowCtrl">
<section class="snc-app-row">
	<div class="snc-app-column">
		<h1>Default</h1>
		<div class="sn-control">
			<label class="sn-control--label" for="sn-input-number-0">No Value Entered, Placeholder</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-number-0" type="number" name="ex0" placeholder="Enter value (ex. 1-50,000)" />
			</div>
		</div>
		<div class="sn-control">
			<label class="sn-control--label" for="sn-input-number-1">Value Entered</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-number-1" type="number" name="ex1" value="34000" />
			</div>
		</div>
		<div class="sn-control is-reversed">
			<label class="sn-control--label" for="sn-input-number-2">No Value Entered, Placeholder, Right Aligned</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-number-2" type="number" name="ex2" placeholder="Enter value (ex. 1-50,000)" />
			</div>
		</div>
		<div class="sn-control is-reversed">
			<label class="sn-control--label" for="sn-input-number-3">Value Entered, Right Aligned</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-number-3" type="number" name="ex3" value="34000" />
			</div>
		</div>
		<div class="sn-control is-required">
			<label class="sn-control--label" for="sn-input-number-4">
				Value Entered, Required, Descriptor Text
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-number-4" type="number" name="ex4" value="34000" aria-describedby="sn-control-description-0" required />
			</div>
			<p class="sn-control--description" id="sn-control-description-0">Enter number value (ex. 1-50,000)</p>
		</div>
	</div>
	<div class="snc-app-column">
		<h1>Default Focus</h1>
		<div class="sn-control has-focus">
			<label class="sn-control--label" for="sn-input-number-5">Update Count</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-number-5" type="number" name="ex5" placeholder="Enter value (ex. 1-50,000)" />
			</div>
		</div>
		<div class="sn-control has-focus">
			<label class="sn-control--label" for="sn-input-number-6">Update Count</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-number-6" type="number" name="ex6" value="34000" />
			</div>
		</div>
		<div class="sn-control is-reversed has-focus">
			<label class="sn-control--label" for="sn-input-number-7">Update Count</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-number-7" type="number" name="ex7" placeholder="Enter value (ex. 1-50,000)" />
			</div>
		</div>
		<div class="sn-control is-reversed has-focus">
			<label class="sn-control--label" for="sn-input-number-8">Update Count</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-number-8" type="number" name="ex8" value="34000" />
			</div>
		</div>
		<div class="sn-control is-required has-focus">
			<label class="sn-control--label" for="sn-input-number-9">
				Update Count
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-number-9" type="number" name="ex9" value="34000" aria-describedby="sn-control-description-1" required />
			</div>
			<p class="sn-control--description" aria-describedby="sn-control-description-1">Enter number value (ex. 1-50,000)</p>
		</div>
	</div>
</section>
<section class="snc-app-row">
	<div class="snc-app-column">
		<h1>Read-Only</h1>
		<div class="sn-control is-readonly">
			<label class="sn-control--label" for="sn-input-number-10">Update Count</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-number-10" type="number" name="ex10" value="34000" readonly />
			</div>
		</div>
	</div>
	<div class="snc-app-column">
		<h1>Read-Only Focus</h1>
		<div class="sn-control is-readonly has-focus">
			<label class="sn-control--label" for="sn-input-number-11">Update Count</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-number-11" type="number" name="ex11" value="34000" readonly />
			</div>
		</div>
	</div>
</section>
<section class="snc-app-row">
	<div class="snc-app-column">
		<h1>Disabled</h1>
		<div class="sn-control is-disabled">
			<label class="sn-control--label" for="sn-input-number-12">Update Count</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-number-12" type="number" name="ex12" placeholder="Enter value (ex. 1-50,000)" disabled />
			</div>
		</div>
		<div class="sn-control is-disabled">
			<label class="sn-control--label" for="sn-input-number-12">Update Count</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-number-12" type="number" name="ex12" disabled />
			</div>
		</div>
		<div class="sn-control is-disabled">
			<label class="sn-control--label" for="sn-input-number-12">Update Count</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-number-12" type="number" name="ex12" value="34000" disabled />
			</div>
		</div>
	</div>
	<div class="snc-app-column">
		<h1>Disabled Focus</h1>
		<div class="sn-control is-disabled has-focus">
			<label class="sn-control--label" for="sn-input-number-13">Update Count</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-number-13" type="number" name="ex13" placeholder="Enter value (ex. 1-50,000)" disabled />
			</div>
		</div>
		<div class="sn-control is-disabled has-focus">
			<label class="sn-control--label" for="sn-input-number-13">Update Count</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-number-13" type="number" name="ex13" disabled />
			</div>
		</div>
		<div class="sn-control is-disabled has-focus">
			<label class="sn-control--label" for="sn-input-number-13">Update Count</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-number-13" type="number" name="ex13" value="34000" disabled />
			</div>
		</div>
	</div>
</section>
<section class="snc-app-row">
	<div class="snc-app-column">
		<h1>Error</h1>
		<div class="sn-control has-error is-required">
			<label class="sn-control--label" for="sn-input-number-14">Update Count
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-number-14" type="number" name="ex14" placeholder="Enter value (ex. 1-50,000)" aria-describedby="sn-control-description-2" required/>
			</div>
			<p class="sn-control--description" id="sn-control-description-2">Update Count is required</p>
		</div>
		<div class="sn-control has-error is-required">
			<label class="sn-control--label" for="sn-input-number-15">Update Count
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-number-15" type="number" name="ex15" aria-describedby="sn-control-description-3" required />
			</div>
			<p class="sn-control--description" id="sn-control-description-3">Enter number value (ex. 1-50,000)</p>
		</div>
		<div class="sn-control has-error is-required">
			<label class="sn-control--label" for="sn-input-number-16">Update Count
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-number-16" type="number" name="ex16" value="51000" aria-describedby="sn-control-description-4" required />
			</div>
			<p class="sn-control--description" id="sn-control-description-4">Update Count cannot contain the following characters: & " ? < > # { } % ~ ? / \.</p>
		</div>
	</div>
	<div class="snc-app-column">
		<h1>Error Focus</h1>
		<div class="sn-control has-error has-focus is-required">
			<label class="sn-control--label" for="sn-input-number-17">Update Count
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-number-17" type="number" name="ex17" placeholder="Enter value (ex. 1-50,000)" aria-describedby="sn-control-description-5" required />
			</div>
			<p class="sn-control--description" id="sn-control-description-5">Update Count is required</p>
		</div>
		<div class="sn-control has-error has-focus is-required">
			<label class="sn-control--label" for="sn-input-number-18">Update Count
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-number-18" type="number" name="ex18" aria-describedby="sn-control-description-6" required />
			</div>
			<p class="sn-control--description" aria-describedby="sn-control-description-6">Enter number value (ex. 1-50,000)</p>
		</div>
		<div class="sn-control has-error has-focus is-required">
			<label class="sn-control--label" for="sn-input-number-19">Update Count
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<input class="sn-input" id="sn-input-number-19" type="number" name="ex19" value="51000" aria-describedby="sn-control-description-7" required />
			</div>
			<p class="sn-control--description" id="sn-control-description-7">Update Count cannot contain the following characters: & " ? < > # { } % ~ ? / \.</p>
		</div>
	</div>
</section>
</div>