///
/// Use a set of predefined breakpoints from the $breakpoints global variable
/// @group helpers
/// @param {string} $name
/// @example scss
/// .item {
///   width: 50%;
///
///   @include breakpoint(small) {
///     width: 100%;
///   }
/// }
/// @link http://www.sitepoint.com/sass-mixins-kickstart-project/ Sass Mixins To Kickstart Your Project by Hugo Giraudel
///

@mixin breakpoint($name) {
	@if map-has-key($breakpoints, $name) {
		@media #{inspect(map-get($breakpoints, $name))} {
			@content;
		}
	} @else {
		@warn "Couldn't find a breakpoint named '#{$name}'.";
	}
}