//
// Note: This does not work with LibSass 3.2
//
//  Debugger
//    | Debug Map Mixin
//    | Depth Function
//

// Debug Map Mixin
// ----------------------------------------
@mixin debug-map($map) {
	@at-root {
		@debug-map {
			__toString__: inspect($map);
			__length__: length($map);
			__depth__: depth($map);
			__keys__: map-keys($map);
			__properties__ {
				@each $key, $value in $map {
					#{'(' + type-of($value) + ') ' + $key}: inspect($value);
				}
			}
		}
	}
}

// Depth Function
// ----------------------------------------
@function depth($map) {
	$level: 1;

	@each $key, $value in $map {
		@if type-of($value) == "map" {
			$level: max(depth($value) + 1, $level);
		}
	}

	@return $level;
}