///
/// @group helpers
/// @param {number} $width
/// @param {number} $height
/// @example scss
/// .item {
///   @include sizing(50px, 60px);
/// }
///

@mixin sizing($width, $height: $width) {
	height: $height;
	width: $width;
}