@font-face {
	font-family: "SourceSansPro";
	src: url("../fonts/SourceSansPro-Regular.eot");
	src: url("../fonts/SourceSansPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-Regular.otf.woff") format("woff"), url("../fonts/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "SourceSansProLight";
	src: url("../fonts/SourceSansPro-Light.eot");
	src: url("../fonts/SourceSansPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-Light.otf.woff") format("woff"), url("../fonts/SourceSansPro-Light.ttf") format("truetype");
}

@font-face {
	font-family: "SourceSansProSemibold";
	src: url("../fonts/SourceSansPro-Semibold.eot");
	src: url("../fonts/SourceSansPro-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-Semibold.otf.woff") format("woff"), url("../fonts/SourceSansPro-Semibold.ttf") format("truetype");
}

@font-face {
	font-family: "SourceSansProBold";
	src: url("../fonts/SourceSansPro-Bold.eot");
	src: url("../fonts/SourceSansPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-Bold.otf.woff") format("woff"), url("../fonts/SourceSansPro-Bold.ttf") format("truetype");
}

@font-face {
	font-family:"retina_icons";
	src:url("../fonts/retina_icons_2017_7_31.eot");
	src:url("../fonts/retina_icons_2017_7_31.eot?#iefix") format("embedded-opentype"),
	url("../fonts/retina_icons_2017_7_31.woff") format("woff"),
	url("../fonts/retina_icons_2017_7_31.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}
