///
/// @group helpers
/// @param {array} $args
/// @example scss
/// .item {
///   @include ellipsis(width 50% min-width 250px);
/// }
///

@mixin ellipsis($args: null) {
	@each $o in max-width min-width width {
		$i: index($args, $o);

		@if $i and $i + 1 <= length($args) and type-of(nth($args, $i + 1)) == number {
			#{$o}: nth($args, $i + 1);
		}
	}

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}