* {
	box-sizing: border-box;
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

b,
strong {
	font-weight: inherit;
	font-weight: bolder;
}

img {
	border-style: none;
}

button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}
