<div ng-controller="shadowCtrl">
<section class="snc-app-row">
	<div class="snc-app-column">
		<h1>Reference</h1>
		<div class="sn-control">
			<label class="sn-control--label" for="sn-reference-0">Configuration Item</label>
			<div class="sn-control--field" role="combobox" aria-expanded="false">
				<input class="sn-input" name="ex0" type="text" aria-autocomplete="list" id="sn-reference-0" />
				<div class="sn-control--controls">
					<button class="sn-btn is-control is-inactive icon-search" aria-label="Search"></button>
				</div>
			</div>
		</div>
		<div class="sn-control has-focus">
			<label class="sn-control--label" for="sn-reference-1">Configuration Item</label>
			<div class="sn-control--field" role="combobox" aria-expanded="false">
				<input class="sn-input" name="ex1" type="text" aria-autocomplete="list" value=".NET" id="sn-reference-1" />
				<div class="sn-control--controls">
					<button class="sn-btn is-control is-inactive icon-search" aria-label="Search"></button>
				</div>
			</div>
		</div>
		<div id="extra-margin" class="sn-control has-focus">
			<label class="sn-control--label" for="sn-reference-2">Configuration Item</label>
			<div class="sn-control--field" role="combobox" aria-expanded="true" aria-owns="sn-owned-listbox-0" aria-haspopup="listbox">
				<input class="sn-input" name="ex2" type="text" aria-autocomplete="list" aria-controls="sn-owned-listbox-0" aria-activedescendant="" value=".NET" id="sn-reference-2" />
				<div class="sn-control--controls">
					<button class="sn-btn is-control is-inactive icon-search" aria-label="Search"></button>
				</div>
			</div>
			<div class="sn-dropdown is-below">
				<div class="sn-dropdown--header">Showing 1-2 of 2</div>
				<ul  id="sn-owned-listbox-0" class="sn-dropdown--list">
					<li class="sn-dropdown--item">
						<span class="sn-dropdown--item--content"><span><span class="is-match">.NET</span> Framework</span></span>
						<span class="sn-dropdown--item--content has-subtext">Software</span>
					</li>
					<li class="sn-dropdown--item has-hover">
						<span class="sn-dropdown--item--content">
							<span>
								<span class="is-match">.NET</span> SDK</span>
							</span>
						<span class="sn-dropdown--item--content has-subtext">Software</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="sn-control has-focus">
			<label class="sn-control--label" for="sn-reference-3">Configuration Item</label>
			<div class="sn-control--field" role="combobox" aria-expanded="false">
				<input class="sn-input" name="ex3" type="text" aria-autocomplete="list" value=".NET SDK" id="sn-reference-3" />
				<div class="sn-control--controls">
					<button class="sn-btn is-control icon-info" aria-label="Preview Information"></button>
					<button class="sn-btn is-control icon-ellipsis" aria-label="More Actions"></button>
					<button class="sn-btn is-control is-inactive icon-search" aria-label="Search"></button>
				</div>
			</div>
		</div>
		<div id="extra-margin" class="sn-control has-focus">
			<label class="sn-control--label" for="sn-reference-4">Configuration Item</label>
			<div class="sn-control--field" role="combobox" aria-expanded="true" aria-owns="sn-owned-listbox-1" aria-haspopup="listbox">
				<input class="sn-input" name="ex4" type="text" aria-autocomplete="list" aria-controls="sn-owned-listbox-1" aria-activedescendant="" value=".NET SD" id="sn-reference-4" />
				<div class="sn-control--controls">
					<button class="sn-btn is-control icon-info" aria-label="Preview Information"></button>
					<button class="sn-btn is-control icon-ellipsis" aria-label="More Actions"></button>
					<button class="sn-btn is-control is-inactive icon-search" aria-label="Search"></button>
				</div>
			</div>
			<div class="sn-dropdown is-below">
				<div class="sn-dropdown--header">Recent Selections</div>
				<ul  id="sn-owned-listbox-1" class="sn-dropdown--list">
					<li class="sn-dropdown--item">
						<span class="sn-dropdown--item--content">
							<span>.NETSDK</span>
						</span>
						<span class="sn-dropdown--item--content has-subtext">Software</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="sn-control has-error">
			<label class="sn-control--label" for="sn-reference-5">Configuration Item</label>
			<div class="sn-control--field" role="combobox" aria-expanded="false">
				<input class="sn-input" name="ex5" type="text" aria-autocomplete="list" value=".NET SD" id="sn-reference-5" />
				<div class="sn-control--controls">
					<button class="sn-btn is-control is-inactive icon-search" aria-label="Search"></button>
				</div>
			</div>
			<p class="sn-control--description">Invalid reference</p>
		</div>
		<div class="sn-control has-focus">
			<label class="sn-control--label" for="sn-reference-6">Configuration Item</label>
			<div class="sn-control--field" role="combobox" aria-expanded="false">
				<input class="sn-input" name="ex6" type="text" aria-autocomplete="list" value=".NET SDK" id="sn-reference-6" />
				<div class="sn-control--controls">
					<button class="sn-btn is-control icon-info" aria-label="Preview Information"></button>
					<button class="sn-btn is-control icon-ellipsis" aria-label="More Actions"></button>
					<button class="sn-btn is-control is-inactive icon-search" aria-label="Search"></button>
				</div>
			</div>
		</div>
		<div class="sn-control has-focus">
			<label class="sn-control--label" for="sn-reference-7">Configuration Item</label>
			<div class="sn-control--field" role="combobox" aria-expanded="false">
				<input class="sn-input" name="ex7" type="text" aria-autocomplete="list" value=".NET SDK" id="sn-reference-7" />
				<div class="sn-control--controls">
					<button class="sn-btn is-control icon-info" aria-label="Preview Information"></button>
					<button class="sn-btn is-control icon-ellipsis has-hover" aria-label="More Actions"></button>
					<button class="sn-btn is-control is-inactive icon-search" aria-label="Search"></button>
				</div>
			</div>
		</div>
		<div class="sn-control has-focus">
			<label class="sn-control--label" for="sn-reference-8">Configuration Item</label>
			<div class="sn-control--field" role="combobox" aria-expanded="false">
				<input class="sn-input" name="ex8" type="text" aria-autocomplete="list" value=".NET SDK" id="sn-reference-8" />
				<div class="sn-control--controls">
					<button class="sn-btn is-control icon-info" aria-label="Preview Information"></button>
					<button class="sn-btn is-control icon-ellipsis has-focus" aria-label="More Actions"></button>
					<button class="sn-btn is-control is-inactive icon-search" aria-label="Search"></button>
				</div>
			</div>
		</div>
	</div>
</section>
</div>