<div ng-controller="shadowCtrl">
<section class="snc-app-row">
	<div class="snc-app-column">
		<div class="sn-control">
			<label class="sn-control--label" for="sn-textarea-0">Short Description</label>
			<div class="sn-control--field">
				<textarea class="sn-textarea is-fixed" id="sn-textarea-0" name="ex0" type="text" role="textarea" />
			</div>
		</div>
		<div class="sn-control">
			<label class="sn-control--label" for="sn-textarea-0">Short Description</label>
			<div class="sn-control--field">
				<textarea class="sn-textarea is-fixed" id="sn-textarea-0" name="ex0" type="text" role="textarea" placeholder="Enter your short description here" />
			</div>
		</div>
		<div class="sn-control has-hover">
			<label class="sn-control--label" for="sn-textarea-0">Short Description</label>
			<div class="sn-control--field">
				<textarea class="sn-textarea is-fixed" id="sn-textarea-0" name="ex0" type="text" role="textarea" />
			</div>
		</div>
		<div class="sn-control has-focus">
			<label class="sn-control--label" for="sn-textarea-0">Short Description</label>
			<div class="sn-control--field">
				<textarea class="sn-textarea" id="sn-textarea-0" name="ex0" type="text" style="height: 100rem;marker-end: all;border-image-outset: inherit;border-style: dotted;border-style: dotted;border-style: dotted;border-style: dotted;border-style: dotted;clip-rule: " role="textarea">Ecologies facilitate models plug-and-play out-of-the-box engage; innovative A-list brand interfaces relationships functionalities, design. Transparent. Global folksonomies, productize paradigms world-class create wikis utilize blogging, unleash metrics integrate--visionary, data-driven e-business authentic; out-of-the-box vertical feeds; harness. Value front-end ecologies extensible; seize life-hacks aggregate user-contributed bandwidth disintermediate interactive. Life-hacks schemas communities experiences; visualize dynamic. E-markets user-centric, "utilize data-driven optimize granular holistic brand weblogs syndicate revolutionary synergistic monetize." Channels, "revolutionary, viral synergistic harness users open-source harness infrastructures architect e-markets," disintermediate mashups. Compelling e-tailers architectures channels networking morph, expedite scale benchmark transition deliverables integrated whiteboard architectures; functionalities.</textarea>
			</div>
		</div>
		<div class="sn-control has-focus">
			<label class="sn-control--label" for="sn-textarea-0">Short Description</label>
			<div class="sn-control--field">
				<textarea class="sn-textarea" id="sn-textarea-0" name="ex0" type="text" role="textarea">SAP Materials Management is slow or there is an outage and SAP Materials Management.</textarea>
			</div>
		</div>
		<div class="sn-control">
			<label class="sn-control--label" for="sn-textarea-0">Short Description</label>
			<div class="sn-control--field">
				<textarea class="sn-textarea" id="sn-textarea-0" name="ex0" type="text" style="height: 100rem;marker-end: all;border-image-outset: inherit;border-style: dotted;border-style: dotted;border-style: dotted;border-style: dotted;border-style: dotted;clip-rule: " role="textarea">Ecologies facilitate models plug-and-play out-of-the-box engage; innovative A-list brand interfaces relationships functionalities, design. Transparent. Global folksonomies, productize paradigms world-class create wikis utilize blogging, unleash metrics integrate--visionary, data-driven e-business authentic; out-of-the-box vertical feeds; harness. Value front-end ecologies extensible; seize life-hacks aggregate user-contributed bandwidth disintermediate interactive. Life-hacks schemas communities experiences; visualize dynamic. E-markets user-centric, "utilize data-driven optimize granular holistic brand weblogs syndicate revolutionary synergistic monetize." Channels, "revolutionary, viral synergistic harness users open-source harness infrastructures architect e-markets," disintermediate mashups. Compelling e-tailers architectures channels networking morph, expedite scale benchmark transition deliverables integrated whiteboard architectures; functionalities.</textarea>
			</div>
		</div>
	</div>
</section>
</div>