// Variables, Mixins, Functions
@import "../_base/core/core";

// Icons and Normalize
@import "../_base/default/default";

// Shared Control
@import "../_base/shared/control";

#{$sn-textarea} {
	@include clearoutline;
	@include sizing(100%, auto);
	background-color: transparent;
	border: 0;
	color: $color-darkest;
	cursor: text;
	font: f("body");
	line-height: $line-height-sm;
	max-height: 14.5rem;
	padding: 0 $spacing-md $spacing-md; // ¯\_(ツ)_/¯
	position: relative;
	resize: none;

	&.is-fixed {
		height: 2.2rem;
		margin-bottom: 0.5rem; // ¯\_(ツ)_/¯
		overflow: hidden;
	}
}
