///
/// @group helpers
/// @param {string} $string
/// @example scss
/// .item {
///   transition: trans(opacity, 'link');
/// }
///

@function trans($props, $transition, $time: "300ms") {
	$result: ();

	@if not map-has-key($transitions, $transition) {
		@warn "No transition found for '#{$transition}' in $sn-transitions map. Property omitted.";
		@return null;
	}

	$trans: map-get($transitions, $transition);

	@each $prop in $props {
		$result: append($result, $prop #{$time} $trans, comma);
	}

	@return #{$result};
}