<div ng-controller="shadowCtrl">
<section class="snc-app-row">
	<div class="snc-app-column">
		<h1>Default</h1>
		<div class="sn-control">
			<label class="sn-control--label" for="sn-select-0">No Value Selected, Placeholder</label>
			<div class="sn-control--field">
				<div class="sn-select has-placeholder" id="sn-select-0" name="urgency">Select an Urgency Level</div>
			</div>
		</div>
		<div class="sn-control">
			<label class="sn-control--label" for="sn-select-1">No Value Selected, No Placeholder</label>
			<div class="sn-control--field">
				<div class="sn-select" id="sn-select-1" name="urgency"></div>
			</div>
		</div>
		<div class="sn-control is-required">
			<label class="sn-control--label" for="sn-select-60">
				No Value Selected, No Placeholder, Required
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<div class="sn-select" id="sn-select-60" name="urgency"></div>
			</div>
		</div>
		<div class="sn-control">
			<label class="sn-control--label" for="sn-select-2">Value Selected</label>
			<div class="sn-control--field">
				<div class="sn-select" id="sn-select-2" name="urgency">1 - High</div>
			</div>
		</div>
		<div class="sn-control is-required">
			<label class="sn-control--label" for="sn-select-3">
				Value Selected, Required, Descriptor Text
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<div class="sn-select" id="sn-select-3" aria-describedby="sn-control--description-0" name="urgency">1 - High</div>
			</div>
			<p class="sn-control--description" id="sn-control--description-0">Select an Urgency level for your issue</p>
		</div>
	</div>
	<div class="snc-app-column">
		<div class="sn-control has-focus">
			<label class="sn-control--label" for="sn-select-4">Urgency</label>
			<div class="sn-control--field">
				<select class="sn-select" id="sn-select-4" name="urgency">
					<option value="1" selected>1 - High</option>
					<option value="2">2 - Medium</option>
					<option value="3">3 - Low</option>
				</select>
			</div>
		</div>
		<div id="extra-margin" class="sn-control">
			<label class="sn-control--label" for="sn-select-5">Urgency</label>
			<div class="sn-control--field">
				<div class="sn-dropdown">
					<ul class="sn-dropdown--list">
						<li class="sn-dropdown--item">1 - High</li>
						<li class="sn-dropdown--item">2 - Medium</li>
						<li class="sn-dropdown--item">3 - Low</li>
					</ul>
				</div>
				<select class="sn-select" id="sn-select-5" name="urgency">
					<option value="" hidden></option>
					<option value="1">1 - High</option>
					<option value="2">2 - Medium</option>
					<option value="3">3 - Low</option>
				</select>
			</div>
		</div>
		<div id="extra-margin" class="sn-control">
			<label class="sn-control--label" for="sn-select-6">Urgency</label>
			<div class="sn-control--field">
				<div class="sn-dropdown">
					<ul class="sn-dropdown--list">
						<li class="sn-dropdown--item is-selected">1 - High</li>
						<li class="sn-dropdown--item">2 - Medium</li>
						<li class="sn-dropdown--item">3 - Low</li>
					</ul>
				</div>
				<select class="sn-select" id="sn-select-6" name="urgency">
					<option value="1" selected>1 - High</option>
					<option value="2">2 - Medium</option>
					<option value="3">3 - Low</option>
				</select>
			</div>
		</div>
	</div>
</section>
<section class="snc-app-row">
	<div class="snc-app-column">
		<h1>Read-Only</h1>
		<div class="sn-control is-readonly">
			<label class="sn-control--label" for="sn-select-10">Urgency</label>
			<div class="sn-control--field">
				<div class="sn-select" id="sn-select-10" name="urgency">1 - High</div>
			</div>
		</div>
		<div class="sn-control is-readonly is-required">
			<label class="sn-control--label" for="sn-select-11">Urgency
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<div class="sn-select" id="sn-select-11" name="urgency">1 - High</div>
			</div>
		</div>
	</div>
	<div class="snc-app-column">
		<h1>Read-Only Focus</h1>
		<div class="sn-control is-readonly has-focus">
			<label class="sn-control--label" for="sn-select-14">Urgency</label>
			<div class="sn-control--field">
				<div class="sn-select" id="sn-select-14" name="urgency">1 - High</div>
			</div>
		</div>
		<div class="sn-control is-readonly has-focus is-required">
			<label class="sn-control--label" for="sn-select-15">Urgency
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<div class="sn-select" id="sn-select-15" name="urgency">1 - High</div>
			</div>
		</div>
	</div>
</section>
<section class="snc-app-row">
	<div class="snc-app-column">
		<h1>Disabled</h1>
		<div class="sn-control is-disabled">
			<label class="sn-control--label" for="sn-select-10">Urgency</label>
			<div class="sn-control--field">
				<div class="sn-select" id="sn-select-10" name="urgency">1 - High</div>
			</div>
		</div>
		<div class="sn-control is-disabled is-required">
			<label class="sn-control--label" for="sn-select-11">Urgency
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<div class="sn-select" id="sn-select-10" name="urgency">1 - High</div>
			</div>
		</div>
	</div>
	<div class="snc-app-column">
		<h1>Disabled Focus</h1>
		<div class="sn-control is-disabled has-focus">
			<label class="sn-control--label" for="sn-select-14">Urgency</label>
			<div class="sn-control--field">
				<div class="sn-select" id="sn-select-10" name="urgency">1 - High</div>
			</div>
		</div>
		<div class="sn-control is-disabled has-focus is-required">
			<label class="sn-control--label" for="sn-select-15">Urgency
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<div class="sn-select" id="sn-select-10" name="urgency">1 - High</div>
			</div>
		</div>
	</div>
</section>
<section class="snc-app-row">
	<div class="snc-app-column">
		<h1>Error</h1>
		<div class="sn-control is-required has-error">
			<label class="sn-control--label" for="sn-select-16">
				Urgency Level
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<div class="sn-select has-placeholder" id="sn-select-0" name="urgency">Select an Urgency Level</div>
			</div>
			<p class="sn-control--description" id="sn-control--description-1">Urgency is required</p>
		</div>
		<div class="sn-control is-required has-error">
			<label class="sn-control--label" for="sn-select-17">Urgency
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<div class="sn-select" id="sn-select-10" name="urgency"></div>
			</div>
			<p class="sn-control--description" id="sn-control--description-2">Urgency is required</p>
		</div>
		<div class="sn-control is-required has-error">
			<label class="sn-control--label" for="sn-select-18">Urgency
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<div class="sn-select" id="sn-select-10" name="urgency">1 - High</div>
			</div>
			<p class="sn-control--description" id="sn-control--description-3">This level violates your current policy commitment</p>
		</div>
	</div>
	<div class="snc-app-column">
		<h1>Error Required</h1>
		<div class="sn-control has-error has-focus is-required">
			<label class="sn-control--label" for="sn-select-19">Urgency
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<div class="sn-select has-placeholder" id="sn-select-10" name="urgency">1 - High</div>
			</div>
			<p class="sn-control--description" id="sn-control--description-4">Urgency is required</p>
		</div>
		<div class="sn-control has-error has-focus is-required">
			<label class="sn-control--label" for="sn-select-20">Urgency
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<div class="sn-select" id="sn-select-10" name="urgency"></div>
			</div>
			<p class="sn-control--description" id="sn-control--description-5">Urgency is required</p>
		</div>
		<div class="sn-control has-error has-focus is-required">
			<label class="sn-control--label" for="sn-select-21">Urgency
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<div class="sn-select" id="sn-select-10" name="urgency">1 - High</div>
			</div>
			<p class="sn-control--description" id="sn-control--description-6">This level violates your current policy commitment</p>
		</div>
		<div id="extra-margin" class="sn-control has-error is-required">
			<label class="sn-control--label" for="sn-select-22">Urgency
				<span class="sn-control--label--required icon-required"></span>
			</label>
			<div class="sn-control--field">
				<div class="sn-dropdown">
					<ul class="sn-dropdown--list">
						<li class="sn-dropdown--item is-selected">1 - High</li>
						<li class="sn-dropdown--item has-hover">2 - Medium</li>
						<li class="sn-dropdown--item">3 - Low</li>
					</ul>
				</div>
				<div class="sn-select" id="sn-select-10" name="urgency">1 - High</div>
			</div>
		</div>
	</div>
</section>
</div>