<div ng-controller="shadowCtrl">
<section class="snc-app-row">
	<div class="snc-app-column">
		<h1>Select2 Default</h1>
		<div class="sn-control">
			<div class="sn-control--field">
				<div class="sn-select">Keywords</div>
			</div>
		</div>
		<div class="sn-control has-hover">
			<div class="sn-control--field">
				<div class="sn-select">
					<span>Keywords</span>
				</div>
			</div>
		</div>
		<div class="sn-control has-focus">
			<div class="sn-control--field">
				<div class="sn-select">
					<span>Keywords</span>
				</div>
			</div>
		</div>
		<div id="extra-extra-extra-margin" class="sn-control">
			<div class="sn-control--field">
				<div class="sn-dropdown">
					<div class="sn-dropdown--search--container icon-search">
						<input class="sn-dropdown--search" type="search" placeholder="Search Field Types" />
					</div>
					<ul class="sn-dropdown--list">
						<li class="sn-dropdown--item">Active</li>
						<li class="sn-dropdown--item">Active due</li>
						<li class="sn-dropdown--item">Actual end</li>
						<li class="sn-dropdown--item">Actual start</li>
						<li class="sn-dropdown--item">Additional assignee list</li>
					</ul>
				</div>
				<div class="sn-select">
					<span>Keywords</span>
				</div>
			</div>
		</div>
		<div id="extra-extra-margin" class="sn-control">
			<div class="sn-control--field">
				<div class="sn-dropdown">
					<div class="sn-dropdown--search--container icon-search">
						<input class="sn-dropdown--search" type="search" value="Act" />
					</div>
					<ul class="sn-dropdown--list">
						<li class="sn-dropdown--item"><span><span class="is-match">Act</span>ive</span></li>
						<li class="sn-dropdown--item"><span><span class="is-match">Act</span>ive due</span></li>
						<li class="sn-dropdown--item"><span><span class="is-match">Act</span>ual end</span></li>
						<li class="sn-dropdown--item"><span><span class="is-match">Act</span>ual start</span></li>
					</ul>
				</div>
				<div class="sn-select">
					<span>Keywords</span>
				</div>
			</div>
		</div>
		<div id="extra-extra-margin" class="sn-control">
			<div class="sn-control--field">
				<div class="sn-dropdown">
					<div class="sn-dropdown--search--container icon-search">
						<input class="sn-dropdown--search" type="search" value="Act" />
					</div>
					<ul class="sn-dropdown--list">
						<li class="sn-dropdown--item"><span><span class="is-match">Act</span>ive</span></li>
						<li class="sn-dropdown--item has-hover"><span><span class="is-match">Act</span>ive due</span></li>
						<li class="sn-dropdown--item"><span><span class="is-match">Act</span>ual end</span></li>
						<li class="sn-dropdown--item"><span><span class="is-match">Act</span>ual start</span></li>
					</ul>
				</div>
				<div class="sn-select">
					<span>Keywords</span>
				</div>
			</div>
		</div>
		<div class="sn-control has-focus">
			<div class="sn-control--field">
				<div class="sn-select">
					<span>Activity due</span>
				</div>
			</div>
		</div>
		<div id="extra-extra-extra-margin" class="sn-control">
			<div class="sn-control--field">
				<div class="sn-dropdown">
					<div class="sn-dropdown--search--container icon-search">
						<input class="sn-dropdown--search" type="search" placeholder="Search Field Types" />
					</div>
					<ul class="sn-dropdown--list">
						<li class="sn-dropdown--item">Active</li>
						<li class="sn-dropdown--item is-selected">Active due</li>
						<li class="sn-dropdown--item">Actual end</li>
						<li class="sn-dropdown--item">Actual start</li>
						<li class="sn-dropdown--item">Additional assignee list</li>
					</ul>
				</div>
				<div class="sn-select">
					<span>Activity due</span>
				</div>
			</div>
		</div>
		<div id="extra-extra-extra-margin" class="sn-control">
			<div class="sn-control--field">
				<div class="sn-dropdown">
					<div class="sn-dropdown--search--container icon-search">
						<input class="sn-dropdown--search" type="search" placeholder="Search Field Types" />
					</div>
					<ul class="sn-dropdown--list">
						<li class="sn-dropdown--item">Keywords</li>
						<li class="sn-dropdown--item">Active</li>
						<li class="sn-dropdown--item is-selected">Active due</li>
						<li class="sn-dropdown--item has-hover">Actual end</li>
						<li class="sn-dropdown--item">Actual start</li>
						<li class="sn-dropdown--item">Additional assignee list</li>
					</ul>
				</div>
				<div class="sn-select">
					<span>Activity due</span>
				</div>
			</div>
		</div>
		<div class="sn-control has-focus">
			<div class="sn-control--field">
				<div class="sn-select">
					<span>Actual end</span>
				</div>
			</div>
		</div>
	</div>
	<div class="snc-app-column">
		<h1>Select2 User Table</h1>
		<div class="sn-control">
			<div class="sn-control--label">Assigned to</div>
			<div class="sn-control--field">
				<div class="sn-select"></div>
			</div>
		</div>
		<div class="sn-control has-hover">
			<div class="sn-control--label">Assigned to</div>
			<div class="sn-control--field">
				<div class="sn-select"></div>
			</div>
		</div>
		<div class="sn-control has-focus">
			<div class="sn-control--label">Assigned to</div>
			<div class="sn-control--field">
				<div class="sn-select"></div>
			</div>
		</div>
		<div id="extra-extra-extra-margin" class="sn-control">
			<div class="sn-control--label">Assigned to</div>
			<div class="sn-control--field">
				<div class="sn-dropdown">
					<div class="sn-dropdown--search--container icon-search">
						<input class="sn-dropdown--search" type="search" placeholder="Search Field Types" />
					</div>
					<ul class="sn-dropdown--list">
						<li class="sn-dropdown--item">
							<div class="sn-avatar is-sm"></div>
							<div class="sn-dropdown--item is-stacked">
								<span class="sn-dropdown--item--content">Abel Tuter</span>
								<span class="sn-dropdown--item--content">abel.tuter@example.com</span>
							</div>
						</li>
						<li class="sn-dropdown--item">
							<div class="sn-avatar is-sm"></div>
							<div class="sn-dropdown--item is-stacked">
								<span class="sn-dropdown--item--content">Abraham Lincoln</span>
								<span class="sn-dropdown--item--content">abraham.lincoln@example.com</span>
							</div>
						</li>
						<li class="sn-dropdown--item">
							<div class="sn-avatar is-sm"></div>
							<div class="sn-dropdown--item is-stacked">
								<span class="sn-dropdown--item--content">Aileen Mottern</span>
								<span class="sn-dropdown--item--content">aileen.mottern@example.com</span>
							</div>
						</li>
						<li class="sn-dropdown--item">
							<div class="sn-avatar is-sm"></div>
							<div class="sn-dropdown--item is-stacked">
								<span class="sn-dropdown--item--content">Aileen Mottern</span>
								<span class="sn-dropdown--item--content">aileen.mottern2@example.com</span>
							</div>
						</li>
						<li class="sn-dropdown--item">
							<div class="sn-avatar is-sm"></div>
							<div class="sn-dropdown--item is-stacked">
								<span class="sn-dropdown--item--content">Alejandro Mascall</span>
								<span class="sn-dropdown--item--content">alejandro.mascall@example.com</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="sn-select" required></div>
			</div>
		</div>
		<div id="extra-extra-extra-margin" class="sn-control">
			<div class="sn-control--label">Assigned to</div>
			<div class="sn-control--field">
				<div class="sn-dropdown">
					<div class="sn-dropdown--search--container icon-search">
						<input class="sn-dropdown--search" type="search" value="br" />
					</div>
					<ul class="sn-dropdown--list">
						<li class="sn-dropdown--item">
							<div class="sn-avatar is-sm"></div>
							<div class="sn-dropdown--item is-stacked">
								<span class="sn-dropdown--item--content"><span><span class="is-match">Br</span>adly Hasselvander</span></span>
								<span class="sn-dropdown--item--content">bradly.hasselvander@example.com</span>
							</div>
						</li>
						<li class="sn-dropdown--item">
							<div class="sn-avatar is-sm"></div>
							<div class="sn-dropdown--item is-stacked">
								<span class="sn-dropdown--item--content"><span><span class="is-match">Br</span>ant Darnel</span></span>
								<span class="sn-dropdown--item--content">brant.darnel@example.com</span>
							</div>
						</li>
						<li class="sn-dropdown--item">
							<div class="sn-avatar is-sm"></div>
							<div class="sn-dropdown--item is-stacked">
								<span class="sn-dropdown--item--content"><span><span class="is-match">Br</span>endan Qin</span></span>
								<span class="sn-dropdown--item--content">brendan.qin@example.com</span>
							</div>
						</li>
						<li class="sn-dropdown--item">
							<div class="sn-avatar is-sm"></div>
							<div class="sn-dropdown--item is-stacked">
								<span class="sn-dropdown--item--content"><span><span class="is-match">Br</span>ent Vaisya</span></span>
								<span class="sn-dropdown--item--content">brent.vaisya@example.com</span>
							</div>
						</li>
						<li class="sn-dropdown--item">
							<div class="sn-avatar is-sm"></div>
							<div class="sn-dropdown--item is-stacked">
								<span class="sn-dropdown--item--content"><span><span class="is-match">Br</span>ice Hedglin</span></span>
								<span class="sn-dropdown--item--content">brice.hedglin@example.com</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="sn-select" required></div>
			</div>
		</div>
		<div id="extra-margin" class="sn-control">
			<div class="sn-control--label">Assigned to</div>
			<div class="sn-control--field">
				<div class="sn-dropdown">
					<div class="sn-dropdown--search--container icon-search">
						<input class="sn-dropdown--search" type="search" value="bra" />
					</div>
					<ul class="sn-dropdown--list">
						<li class="sn-dropdown--item">
							<div class="sn-avatar is-sm"></div>
							<div class="sn-dropdown--item is-stacked">
								<span class="sn-dropdown--item--content"><span><span class="is-match">Bra</span>dly Hasselvander</span></span>
								<span class="sn-dropdown--item--content">bradly.hasselvander@example.com</span>
							</div>
						</li>
						<li class="sn-dropdown--item">
							<div class="sn-avatar is-sm"></div>
							<div class="sn-dropdown--item is-stacked">
								<span class="sn-dropdown--item--content"><span><span class="is-match">Bra</span>nt Darnel</span></span>
								<span class="sn-dropdown--item--content">brant.darnel@example.com</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="sn-select" required></div>
			</div>
		</div>
		<div id="extra-margin" class="sn-control">
			<div class="sn-control--label">Assigned to</div>
			<div class="sn-control--field">
				<div class="sn-dropdown">
					<div class="sn-dropdown--search--container icon-search">
						<input class="sn-dropdown--search" type="search" value="bra" />
					</div>
					<ul class="sn-dropdown--list">
						<li class="sn-dropdown--item">
							<div class="sn-avatar is-sm"></div>
							<div class="sn-dropdown--item is-stacked">
								<span class="sn-dropdown--item--content"><span><span class="is-match">Bra</span>dly Hasselvander</span></span>
								<span class="sn-dropdown--item--content">bradly.hasselvander@example.com</span>
							</div>
						</li>
						<li class="sn-dropdown--item has-hover">
							<div class="sn-avatar is-sm"></div>
							<div class="sn-dropdown--item is-stacked">
								<span class="sn-dropdown--item--content"><span><span class="is-match">Bra</span>nt Darnel</span></span>
								<span class="sn-dropdown--item--content">brant.darnel@example.com</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="sn-select" required></div>
			</div>
		</div>
		<div class="sn-control has-focus">
			<div class="sn-control--label">Assigned to</div>
			<div class="sn-control--field">
				<div class="sn-select" required>
					<div class="sn-avatar is-sm"></div>
					<span>Brant Darnel</span>
					<div class="sn-control--controls">
						<button class="sn-btn is-control icon-info"></button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="snc-app-column">
		<h1>Select2 User Table with actions</h1>
		<div class="sn-control is-required">
			<div class="sn-control--label">Caller <span class="sn-control--label--required icon-required"></span></div>
			<div class="sn-control--field">
				<div class="sn-select"></div>
			</div>
		</div>
		<div class="sn-control is-required has-hover">
			<div class="sn-control--label">Caller <span class="sn-control--label--required icon-required"></span></div>
			<div class="sn-control--field">
				<div class="sn-select"></div>
			</div>
		</div>
		<div class="sn-control is-required has-focus">
			<div class="sn-control--label">Caller <span class="sn-control--label--required icon-required"></span></div>
			<div class="sn-control--field">
				<div class="sn-select"></div>
			</div>
		</div>
		<div id="extra-extra-extra-margin" class="sn-control is-required">
			<div class="sn-control--label">Caller <span class="sn-control--label--required icon-required"></span></div>
			<div class="sn-control--field">
				<div class="sn-dropdown">
					<div class="sn-dropdown--search--container icon-search">
						<input class="sn-dropdown--search" type="search" placeholder="Search Field Types" />
					</div>
					<ul class="sn-dropdown--list">
						<li class="sn-dropdown--item">
							<div class="sn-avatar is-sm"></div>
							<div class="sn-dropdown--item is-stacked">
								<span class="sn-dropdown--item--content">Abel Tuter</span>
								<span class="sn-dropdown--item--content">abel.tuter@example.com</span>
							</div>
						</li>
						<li class="sn-dropdown--item">
							<div class="sn-avatar is-sm"></div>
							<div class="sn-dropdown--item is-stacked">
								<span class="sn-dropdown--item--content">Abraham Lincoln</span>
								<span class="sn-dropdown--item--content">abraham.lincoln@example.com</span>
							</div>
						</li>
						<li class="sn-dropdown--item">
							<div class="sn-avatar is-sm"></div>
							<div class="sn-dropdown--item is-stacked">
								<span class="sn-dropdown--item--content">Aileen Mottern</span>
								<span class="sn-dropdown--item--content">aileen.mottern@example.com</span>
							</div>
						</li>
						<li class="sn-dropdown--item">
							<div class="sn-avatar is-sm"></div>
							<div class="sn-dropdown--item is-stacked">
								<span class="sn-dropdown--item--content">Aileen Mottern</span>
								<span class="sn-dropdown--item--content">aileen.mottern2@example.com</span>
							</div>
						</li>
						<li class="sn-dropdown--item">
							<div class="sn-avatar is-sm"></div>
							<div class="sn-dropdown--item is-stacked">
								<span class="sn-dropdown--item--content">Alejandro Mascall</span>
								<span class="sn-dropdown--item--content">alejandro.mascall@example.com</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="sn-select" required></div>
			</div>
		</div>
		<div id="extra-extra-extra-margin" class="sn-control is-required">
			<div class="sn-control--label">Caller <span class="sn-control--label--required icon-required"></span></div>
			<div class="sn-control--field">
				<div class="sn-dropdown">
					<div class="sn-dropdown--search--container icon-search">
						<input class="sn-dropdown--search" type="search" value="br" />
					</div>
					<ul class="sn-dropdown--list">
						<li class="sn-dropdown--item">
							<div class="sn-avatar is-sm"></div>
							<div class="sn-dropdown--item is-stacked">
								<span class="sn-dropdown--item--content"><span><span class="is-match">Br</span>adly Hasselvander</span></span>
								<span class="sn-dropdown--item--content">bradly.hasselvander@example.com</span>
							</div>
						</li>
						<li class="sn-dropdown--item">
							<div class="sn-avatar is-sm"></div>
							<div class="sn-dropdown--item is-stacked">
								<span class="sn-dropdown--item--content"><span><span class="is-match">Br</span>ant Darnel</span></span>
								<span class="sn-dropdown--item--content">brant.darnel@example.com</span>
							</div>
						</li>
						<li class="sn-dropdown--item">
							<div class="sn-avatar is-sm"></div>
							<div class="sn-dropdown--item is-stacked">
								<span class="sn-dropdown--item--content"><span><span class="is-match">Br</span>endan Qin</span></span>
								<span class="sn-dropdown--item--content">brendan.qin@example.com</span>
							</div>
						</li>
						<li class="sn-dropdown--item">
							<div class="sn-avatar is-sm"></div>
							<div class="sn-dropdown--item is-stacked">
								<span class="sn-dropdown--item--content"><span><span class="is-match">Br</span>ent Vaisya</span></span>
								<span class="sn-dropdown--item--content">brent.vaisya@example.com</span>
							</div>
						</li>
						<li class="sn-dropdown--item">
							<div class="sn-avatar is-sm"></div>
							<div class="sn-dropdown--item is-stacked">
								<span class="sn-dropdown--item--content"><span><span class="is-match">Br</span>ice Hedglin</span></span>
								<span class="sn-dropdown--item--content">brice.hedglin@example.com</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="sn-select" required></div>
			</div>
		</div>
		<div id="extra-margin" class="sn-control is-required">
			<div class="sn-control--label">Caller <span class="sn-control--label--required icon-required"></span></div>
			<div class="sn-control--field">
				<div class="sn-dropdown">
					<div class="sn-dropdown--search--container icon-search">
						<input class="sn-dropdown--search" type="search" value="bra" />
					</div>
					<ul class="sn-dropdown--list">
						<li class="sn-dropdown--item">
							<div class="sn-avatar is-sm"></div>
							<div class="sn-dropdown--item is-stacked">
								<span class="sn-dropdown--item--content"><span><span class="is-match">Bra</span>dly Hasselvander</span></span>
								<span class="sn-dropdown--item--content">bradly.hasselvander@example.com</span>
							</div>
						</li>
						<li class="sn-dropdown--item">
							<div class="sn-avatar is-sm"></div>
							<div class="sn-dropdown--item is-stacked">
								<span class="sn-dropdown--item--content"><span><span class="is-match">Bra</span>nt Darnel</span></span>
								<span class="sn-dropdown--item--content">brant.darnel@example.com</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="sn-select" required></div>
			</div>
		</div>
		<div id="extra-margin" class="sn-control is-required">
			<div class="sn-control--label">Caller <span class="sn-control--label--required icon-required"></span></div>
			<div class="sn-control--field">
				<div class="sn-dropdown">
					<div class="sn-dropdown--search--container icon-search">
						<input class="sn-dropdown--search" type="search" value="bra" />
					</div>
					<ul class="sn-dropdown--list">
						<li class="sn-dropdown--item">
							<div class="sn-avatar is-sm"></div>
							<div class="sn-dropdown--item is-stacked">
								<span class="sn-dropdown--item--content"><span><span class="is-match">Bra</span>dly Hasselvander</span></span>
								<span class="sn-dropdown--item--content">bradly.hasselvander@example.com</span>
							</div>
						</li>
						<li class="sn-dropdown--item has-hover">
							<div class="sn-avatar is-sm"></div>
							<div class="sn-dropdown--item is-stacked">
								<span class="sn-dropdown--item--content"><span><span class="is-match">Bra</span>nt Darnel</span></span>
								<span class="sn-dropdown--item--content">brant.darnel@example.com</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="sn-select" required></div>
			</div>
		</div>
		<div class="sn-control is-required has-focus">
			<div class="sn-control--label">Assigned to</div>
			<div class="sn-control--field">
				<div class="sn-select" required>
					<div class="sn-avatar is-sm"></div>
					<span>Brant Darnel</span>
					<div class="sn-control--controls">
						<button class="sn-btn is-control icon-workflow"></button>
						<button class="sn-btn is-control icon-info"></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</div>